{%- from "govuk_frontend_jinja/components/pagination/macro.html" import govukPagination -%}

{{ govukPagination({
    "previous": pagination.previous and {
        "labelText": pagination.previous.sub_section_name,
        "href": url_for("assessment_bp.display_sub_criteria", application_id=application_id, sub_criteria_id=pagination.previous.sub_section_id)
    },
    "next": {
        "labelText": pagination.next.sub_section_name,
        "href": url_for("assessment_bp.display_sub_criteria", application_id=application_id, sub_criteria_id=pagination.next.sub_section_id)
    } if pagination.next else {
        "labelText": "Back to assessment task list",
        "href": url_for("assessment_bp.application", application_id=application_id)
    }
}) }}
