{% from "macros/scores.html" import scores %}
{% from "macros/justification.html" import justification %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% macro scores_justification(score_form, rescore_form, is_rescore, latest_score, application_id, sub_criteria_id, round_guidance_url, score_list) %}

<div class="govuk-grid-column-full s26-scoring">
    {% if latest_score %}
    <div class="score-group" id="score" role="status">
        <h2 class="govuk-heading-m">Current score: {{ latest_score['score'] }}</h2>
        <div>
            <p class="govuk-body-m"><strong>Rationale: </strong>{{ latest_score.justification }}</p>
            <p class="govuk-body-s">
                <strong>
                    {% if latest_score.user_full_name %}{{ latest_score.user_full_name }} {% endif %}
                </strong> ({{ latest_score.highest_role|all_caps_to_human }})
                {% if latest_score.user_email %}
                    {{ latest_score.user_email }}
                {% endif %}
            </p>
            <p class="govuk-body-s"> <strong>Date/time:</strong> {{ latest_score.date_created|utc_to_bst }}</p>
        </div>
    </div>
    {% if score_list %}
    <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Score history
          </span>
        </summary>
        <div class="govuk-details__text">
          <div id="anchor">
            {% for score in score_list %}
            <p><strong>Score: </strong>{{ score["score"] }}</p>
            <p><strong>Rationale: </strong>{{ score["justification"] }}</p>
            <p class="govuk-body-s"><strong>{{ score["user_full_name"] }}: </strong> {{ score["highest_role"]|all_caps_to_human }}, {{ score["user_email"] }}</p>
            <p class="govuk-body-s"><strong>Date/time:</strong> {{ score["date_created"]|utc_to_bst }}</p>
            <hr>
            {% endfor %}
          </div>
        </div>
      </details>
    {% endif %}
    {% endif %}

    {% if latest_score and not is_rescore %}
    <form id="rescore_form" method="post">
        {{ rescore_form.csrf_token }}
        {{ govukButton
            ({
                'text': 'Rescore',
                'type': 'submit',
                'classes': 'secondary-button govuk-!-margin-top-4' if not score_list else 'secondary-button',
            })
        }}
        <input type="hidden" name="hidden" value="is_rescore">
    </form>
    {% endif %}
    {% if is_rescore or not latest_score %}
    <form id="score_form" method="post">
        {{ score_form.csrf_token }}
        <div class="govuk-form-group">
            {% if latest_score %}
            <h2 class="govuk-heading-m govuk-!-margin-top-4">Rescore</h2>
            {% endif %}
            <p class="govuk-body">Score this sub criteria against the
                <a class="govuk-link govuk-link--no-visited-state" href={{ round_guidance_url }}>assessment
                    criteria</a>.</p>
            <p class="govuk-body">You can use the comments about this subcriteria from other assessors to inform your score.</p>
            {{ scores(score_form) }}
            {{ justification(score_form, round_guidance_url) }}
        </div>
        {% if latest_score %}
            {{ govukButton({'text': 'Save a new score', 'type':'submit', 'classes': 'primary-button'}) }}
        {% else %}
            {{ govukButton({'text': 'Save score', 'type':'submit', 'classes':'primary-button'}) }}
        {% endif %}
    </form>
    {% endif %}
</div>

{% endmacro %}

{# This macro is only being used in the activity_trail.html #}
{% macro score(score, application_id) %}
<p class="govuk-body govuk-!-padding-top-6"> <span
    class="govuk-body govuk-!-font-weight-bold">Scored </span> on subcriteria <a
    href="{{ url_for('assessment_bp.display_sub_criteria',application_id=application_id ,sub_criteria_id=score.sub_criteria_id) }}" target="_blank">{{score.sub_criteria_name}}</a></p>
<div class="score-group govuk-!-padding-bottom-5" id="score" role="status">
    <h2 class="govuk-heading-m">Scored: {{score.score }}</h2>
    <div>
        <p class="govuk-body-m"><strong>Rationale: </strong>{{ score.justification }}</p>
        <p class="govuk-body-s">
            <strong>
                {% if score.full_name %}{{ score.full_name or 'NA' }} {% endif %}
            </strong> ({{ score.highest_role|all_caps_to_human or 'NA' }})

            {% if score.email_address %}{{ score.email_address or 'NA' }}{% endif %}
    </p>

        <p class="govuk-body-s"> <strong>Date/time:</strong> {{ score.date_created|utc_to_bst }}</p>
    </div>
</div>

{% endmacro %}
