
.fsd-callout-todo {
  text-align: center;
  border: 4px solid #e9eaea;
  text-align: center;
}

.fsd-callout-number {
  font-size: 2.25rem;
  line-height: 1.11111;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fsd-callout-tag {
  text-align: center;
  background-color: #1d70b8;
}

.fsd-callout-tag--blue {
  background-color: #d2e2f1;
}

.fsd-callout-tag--grey {
  background-color: #eeefef;
}
