.assessment-navigation {
    margin-top: 8px;
    border-top: 3px #1d70b8 solid ;
    ul:first-of-type {
      border-top: none;
      margin-top: 20px;
    }
    ul:last-of-type {
        border-top: 2px #b1b4b6 solid;
        padding-top: 20px;
    }
    ul:first-of-type:last-of-type {
        border-top: none;
        padding-top: 0;
    }
  }

.theme {
    margin-top: 8px;
    padding-top: 20px;
    border-top: 3px #b1b4b6 solid;
}

.response-title {
    margin-bottom: 0;
    padding: 5px 5px 5px 20px;
    background-color: #b1b4b6;
    color: #0b0c0c;
  }

.template-answer {
    border: 3px #b1b4b6 solid;
    padding: 25px 25px 4px;
    background-color: #ffffff;
  }

.template-answer--dashboard-container {
  border: 4px solid #505a5f;
  padding: 25px 25px 4px;
  background-color: #ffffff;
}

.scoring-heading {
    margin-bottom: 10px;
}

.headline-info, .content-container {
    max-width: 1400px;
    padding: 0 2em;
    margin: auto;

    .sign-out {
      margin-bottom: 10px;
    }

    .task-list {
      padding: 0px;
    }
  }

 .assessment-overview .headline-info {
    .headline-container {
        margin-bottom: 0px;
      }
    h1:first-child {
      margin-bottom: 10px;
    }
    h1:last-child {
      margin-bottom: 15px;
    }
  }

.headline-container {
    background-color: #1d70b8;
    margin: 0 0 30px;
    padding: 40px 0;
    * {
      color: #ffffff;
    }

    .lead-dashboard-heading {
      margin-bottom: 20px;
    }
  }
