{% extends "base.html" %}
{% from "macros/theme.html" import theme %}
{% from "govuk_frontend_jinja/components/label/macro.html" import govukLabel %}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "govuk_frontend_jinja/components/fieldset/macro.html" import govukFieldset -%}
{%- from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea -%}
{%- from "govuk_frontend_jinja/components/checkboxes/macro.html" import govukCheckboxes -%}
{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{% from "macros/logout_partial.html" import logout_partial %}
{% from "macros/banner_summary.html" import banner_summary %}
{% from "macros/assessment_flag.html" import assessment_flagged %}
{% from "macros/assessment_flag.html" import assessment_resolved %}
{% from "macros/assessment_flag.html" import assessment_stopped %}


{# ---------------------------------------- HEADER AND THE BACK LINK --------------------------------------------- #}
{% block header %}
<header role="banner" data-module="govuk-header">
    <nav class="govuk-width-container govuk-header__navigation">
        <div class="govuk-phase-banner flex-parent-element">
            <p class="govuk-!-text-align-left flex-parent-element flexed-element-margins-collapse">
                {{ govukBackLink({'href': url_for("assessment_bp.application", application_id=application_id), 'html':
                'Back to <b>assessment tasklist</b>', 'attributes': {'data-qa': 'back-to-assessment-tasklist'} }) }}
            </p>
            {{ logout_partial(sso_logout_url) }}
        </div>
    </nav>

    {{ banner_summary(
    (state.fund_name if state else fund.name),
    sub_criteria.short_id if sub_criteria else state.short_id,
    sub_criteria.project_name if sub_criteria else state.project_name,
    sub_criteria.funding_amount_requested if sub_criteria else state.funding_amount_requested,
    assessment_status,
    flag_status,
    display_status=False
    ) }}
</header>
{% endblock header %}
{# ---------------------------------------- PAGE STARTS HERE --------------------------------------------- #}



{% block content %}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div>
            <div class="">
                <h1 class="govuk-heading-l">Activity trail</h1>
                <p class="govuk-body">Current assessment status: <span class="flagged-tag">Get curent status</span></p>
            </div>

{# ---------------------------------------- ONE THIRD OF THE PAGE STARTS HERE --------------------------------------------- #}

            <div class="govuk-grid-column-one-third">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">
                                Filters
                            </th>
                        </tr>
                    </thead>
                </table>

                {# Apply search logic here #}
                <div class="govuk-form-group">
                    <label class="govuk-label">Search</label>
                    <input class="search-input govuk-input govuk-!-width-full" id="event-name" name="event-name"
                        type="text">
                </div>
                {# Apply checkbox logics here #}

                <div class="govuk-form-group">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="allActivityCheckbox" onclick="displayAll()"
                                type="checkbox" checked="">
                            <label class="govuk-label govuk-checkboxes__label" for="">
                                All activity
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="commentsCheckbox" onclick="displayComments()"
                                type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="">
                                Comments
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="assessmentStatusCheckbox"
                                onclick="displayAssessmentStatus()" type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="">
                                Assessment status
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="scoreCheckbox" onclick="displayScores()"
                                type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="">
                                Score
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="flagCheckbox" onclick="displayFlags()"
                                type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="">
                                Flags
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="tagCheckbox" onclick="displayTags()"
                                type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="">
                                Tags
                            </label>
                        </div>
                    </div>
                </div>

                {# Apply Show all sections logic here #}

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__controls"><button type="button" class="govuk-accordion__show-all"
                            aria-expanded="false"><span
                                class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span
                                class="govuk-accordion__show-all-text">Show all sections</span></button></div>
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">

                                <button type="button" aria-controls="accordion-default-content-2"
                                    class="govuk-accordion__section-button govuk-!-padding-bottom-0"
                                    aria-expanded="false"
                                    aria-label="Filter by sub criteria/section , Show this section"><span
                                        class="govuk-accordion__section-heading-text"
                                        id="accordion-default-heading-1"><span
                                            class="govuk-accordion__section-heading-text-focus">
                                            Filter by sub criteria/section
                                        </span></span><span
                                        class="govuk-visually-hidden govuk-accordion__section-heading-divider">,
                                    </span><span class="govuk-accordion__section-toggle" data-nosnippet=""><span
                                            class="govuk-accordion__section-toggle-focus"><span
                                                class="govuk-accordion-nav__chevron govuk-accordion-nav__chevron--down"></span><span
                                                class="govuk-accordion__section-toggle-text">Show</span></span></span></button>
                            </h2>
                        </div>

                        {#  Apply filter by sub criteria/section here #}
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                            aria-labelledby="accordion-default-heading-1" hidden="until-found">
                            <div class="govuk-checkboxes " data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value=""
                                        checked="">
                                    <label class="govuk-label govuk-checkboxes__label" for="">
                                        All subcriteria
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                                    <label class="govuk-label govuk-checkboxes__label" for="">
                                        Organisation information
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                                    <label class="govuk-label govuk-checkboxes__label" for="">
                                        Applicant information
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                                    <label class="govuk-label govuk-checkboxes__label" for="">
                                        Project information
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                                    <label class="govuk-label govuk-checkboxes__label" for="">
                                        Asset information
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                                    <label class="govuk-label govuk-checkboxes__label" for="">
                                        Business plan
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                                    <label class="govuk-label govuk-checkboxes__label" for="">
                                        Declarations
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
                                    <label class="govuk-label govuk-checkboxes__label" for="">
                                        Subsidy control and state aid
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {# ---------------------------------------- TWO THIRD OF THE PAGE STARTS HERE --------------------------------------------- #}
            <div class="govuk-grid-column-two-thirds">
                <div class="">

                    <table class="govuk-table" role="table">
                        <thead class="govuk-table__head" role="rowgroup">
                            <tr class="govuk-table__row" role="row">
                                <th role="columnheader" scope="col" class="govuk-!-width-one-third govuk-table__header">
                                    Actions (get length of total actions)</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row" id="commentItem1" style="">
                                <td scope="row" class="govuk-table__cell govuk-!-width-one-third">
                                    <div>


                                        {# if comment - comment box #}
                                        <p class="govuk-!-static-padding-top-1"><span
                                                class="govuk-body govuk-!-font-weight-bold">Comment</span> on <a
                                                href="#">Engagement - Engaging the community</a></p>
                                        <p class="govuk-body-s">Christian Williams (Assessor)
                                            christian.williams@tpximpact.com</p>

                                        {# if flag - flag box #}



                                        {% for flag in flags_list %}

                                        {{assessment_flagged(state, flag, accounts_list[flag.latest_user_id], application_id)}}

                                        {% endfor %}

                                        {# else information about the user #}
                                        <p class="govuk-body">This is a comment that has been left by another user and
                                            has not been edited, and therefore has no history.</p>
                                        <p class="govuk-body-s">19/05/2022 at 14:58</p>


                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>


</main>

{% endblock content %}
