{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/tabs/macro.html' import govukTabs -%}
{% import "macros/application_overviews_table_all.html" as application_overviews_table -%}
{% import "macros/team_dashboard_header.html" as team_dashboard_header -%}
{% from "macros/banner_summary.html" import banner_summary %}
{% from "macros/logout_partial.html" import logout_partial %}
{% from "macros/migration_banner.html" import migration_banner %}

{% set pageHeading %}Team dashboard{% endset %}

{% block header %}
    {{ team_dashboard_header.render(round_details, stats, team_flag_stats, is_active_status) }}
{% endblock header %}

{% block content %}
  <h1 class="govuk-heading-l">Add a message</h1>

  {% if form.message_errors %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
<div role="alert">
    <h2 class="govuk-error-summary__title">
    There is a problem
    </h2>
    <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
        {% for key, error in form.message_errors.items() %}
        <li><a href="#{{ key }}">{{ error }}</a></li>
        {% endfor %}
    </ul>
    </div>
</div>
</div>
{% endif %}

  <p class="govuk-body">
    You are about to {% if add_assign_user_names and not unassign_user_names %}assign <strong>{{ add_assign_user_names|join(', ') }}</strong> as a {{ "lead" if assessor_role == "lead_assessor" else "general" }} assessor to the selected assessment.{% endif %}{% if unassign_user_names and not add_assign_user_names %}remove <strong>{{ unassign_user_names|join(', ') }}</strong> as a {{ "lead" if assessor_role == "lead_assessor" else "general" }} assessor from the selected assessment.{% endif %}
    {% if unassign_user_names and add_assign_user_names %}
    <li class="govuk-body">assign <strong>{{ add_assign_user_names|join(', ') }}</strong> as a {{ "lead" if assessor_role == "lead_assessor" else "general" }} assessor to the assessment</li>
    <li class="govuk-body">remove <strong>{{ unassign_user_names|join(', ') }}</strong> as a {{ "lead" if assessor_role == "lead_assessor" else "general" }} assessor from the assessment</li>
    {% endif %}
</p>
<p class="govuk-body">
  You can send a message to all selected assessors, and/or send separate notes to individual assessors.
</p>
<form method="post" action="{{ url_for('assessment_bp.assessor_comments',
    fund_short_name=round_details.fund_short_name,
    round_short_name=round_details.round_short_name) }}">
    {{ form.csrf_token }}
    {% for assessment in selected_assessments %}
      <input type="hidden" name="selected_assessments" value="{{ assessment }}">
    {% endfor %}
      <input type="hidden" name="assessor_role" value="{{ assessor_role }}">
    {% for user_id in assigned_users %}
      <input type="hidden" name="assigned_users" value="{{ user_id }}">
    {% endfor %}
    {% for user in selected_users %}
      <input type="hidden" name="selected_users" value="{{ user }}">
    {% endfor %}
    <input type="hidden" name="old_assessor_messages" value="{{ old_assessor_messages | tojson | forceescape }}">
    <div class="govuk-form-group {% if "message_to_all" in form.message_errors %} govuk-form-group--error {% endif %}">
      <label class="govuk-label" for="message_to_all">
        Message to all assessors (optional)
      </label>
        {% if "message_to_all" in form.message_errors %}
        <p class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ form.message_errors["message_to_all"] }}
        </p>
        {% endif %}
      <textarea class="govuk-textarea" id="message_to_all" name="message_to_all" rows="5">{{ assessor_messages["message_to_all"] if "message_to_all" in assessor_messages else "" }}</textarea>
    </div>
    {% if changed_users|length  > 1 %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="assessor_messages_checkbox" type="checkbox" name="assessor_messages" {% if has_individual_messages %}checked{% endif %}>
      <label class="govuk-label govuk-checkboxes__label" for="assessor_messages_checkbox">
        Leave individual messages for assessors
      </label>
    </div>
    <div>
    {# djlint:off #}<div id="assessor_messages" class="govuk-form-group {% if has_individual_messages %}govuk-!-display-block{% else %}govuk-!-display-none{% endif %}">
    {# djlint:on #}
      {% for user in changed_users %}
        {% set message_id = "message_" + user['account_id'] %}
        <div class="govuk-form-group {% if message_id in form.message_errors %} govuk-form-group--error {% endif %}">
          <label class="govuk-label" for="label_{{ user["account_id"] }}">
            Message to <strong>{{ user["full_name"] if user["full_name"] else user["email_address"] }}</strong> (optional)
          </label>
            {% if message_id in form.message_errors %}
            <p class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ form.message_errors[message_id] }}
            </p>
            {% endif %}
          <textarea class="govuk-textarea" id="{{ message_id }}" name="{{ message_id }}" rows="5">{{ assessor_messages[message_id] if message_id in assessor_messages else "" }}</textarea>
        </div>
      {% endfor %}
    </div>
  </div>
    {% endif %}

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="cancel_messages" value="cancel_messages">
      Cancel
    </button>
  </form>

{% endblock content %}
