{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/tabs/macro.html' import govukTabs -%}
{% import "macros/application_overviews_table_all.html" as application_overviews_table -%}
{% import "macros/team_dashboard_header.html" as team_dashboard_header -%}
{% from "macros/banner_summary.html" import banner_summary %}
{% from "macros/logout_partial.html" import logout_partial %}
{% from "macros/migration_banner.html" import migration_banner %}

{% set pageHeading %}Team dashboard{% endset %}

{% block header %}
    {{ team_dashboard_header.render(round_details, stats, team_flag_stats, is_active_status) }}
{% endblock header %}

{% block content %}
{# CLOSE THE GOVUK-WIDTH-CONTAINER AND OPEN A WIDER CONTAINER FOR THE TABLE VIEW #}


<div class="govuk-grid-row">
    {% if migration_banner_enabled %}
    {{ migration_banner() }}
    {% endif %}
    <section id="assign-assessor-role" class="govuk-width-container govuk-grid-column-full">
        <header class="govuk-body">
            <h1 class="govuk-heading-l">Assign to lead assessor or general assessor</h1>
        </header>
        {% if form.form_errors %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
            There is a problem
            </h2>
            <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for error in form.form_errors %}
                <li><a href="#assessor-type-selection">{{ error }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
        </div>
        {% endif %}
        <div class="govuk-form-group {% if form.form_errors %} govuk-form-group--error {% endif %}">
            {% if form.form_errors %}
            <p class="govuk-error-message">
            {% for error in form.form_errors %}
                <span class="govuk-visually-hidden">Error:</span> {{ error }}
            {% endfor %}
            </p>
            {% endif %}
            <p class="govuk-body">Select the type of role you would like to assign.</p>
            <form method="post" action="{{ url_for('assessment_bp.assessor_type',
                        fund_short_name=round_details.fund_short_name,
                        round_short_name=round_details.round_short_name) }}">
                {{ form.csrf_token }}
                {% for assessment in selected_assessments %}
                <input type="hidden" name="selected_assessments" value="{{ assessment }}">
                {% endfor %}
                <div class="govuk-radios" id="assessor-type-selection">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="lead_assessor" name="assessor_role" type="radio" value="lead_assessor" {% if selected_assessor_role == "lead_assessor" %}checked{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="lead_assessor">
                            Lead assessor
                        </label>
                        <span class="govuk-hint">
                            A lead assessor is the person who is responsible for the entire assessment
                        </span>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="general_assessor" name="assessor_role" type="radio" value="general_assessor" {% if selected_assessor_role == "general_assessor" %}checked{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="general_assessor">
                            General assessor
                        </label>
                        <span class="govuk-hint">
                            A general assessor is a person who is responsible for completing part of an assessment
                        </span>
                    </div>
                </div>
        </div>
            <div class="govuk-!-margin-top-4">
                <button type="submit" class="govuk-button">Continue</button>
            </div>
        </form>
    </section>
</div>
{% endblock content %}
