{% extends "base.html" %}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea -%}

{% block header %}
{% include "./components/header.html" %}
{% endblock header %}

{% block content %}
<div class="govuk-grid-row">
    <div class="content-container">
        <div class="govuk-grid-column-two-thirds">
            <div class="">
                <div class="govuk-button-group">
                <a class="govuk-link" href="{{ back_href }}">Back to assessment</a>
                </div>
                <h1 class="govuk-heading-l">Comment edit history</h1>
            </div>

            {% set updates_length = comment_data.updates|length %}

            {% for data in comment_data.updates|reverse %}
                {% if loop.index0 < updates_length-1 %}
                    <div class="comment-group">
                        <p class="govuk-body">{{ data['comment'] }}.</p>
                        <p class="govuk-body-s">{{ comment_data.full_name }} ({{ comment_data.highest_role|all_caps_to_human }}) {{ comment_data.email_address }}</p>
                        <p class="govuk-body-s">{{ data.date_created|utc_to_bst }}</p>
                    </div>
                {% else %}
                    <div class="govuk-!-padding-top-7">
                        <h2 class="govuk-heading-s govuk-!-padding-bottom-0">Original comment</h2>
                        <div class="comment-group">
                        <p class="govuk-body">{{ data['comment'] }}.</p>
                        <p class="govuk-body-s">{{ comment_data.full_name }} ({{ comment_data.highest_role|all_caps_to_human }}) {{ comment_data.email_address }}</p>
                        <p class="govuk-body-s">{{ data.date_created|utc_to_bst }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
