{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/tabs/macro.html' import govukTabs -%}
{% import "macros/application_overviews_table_all.html" as application_overviews_table -%}
{% from "macros/banner_summary.html" import banner_summary %}
{% from "macros/logout_partial.html" import logout_partial %}
{% from "macros/migration_banner.html" import migration_banner %}

{% set pageHeading %}Team dashboard{% endset %}

{% block header %}
<header role="banner" data-module="govuk-header">
    <nav class="govuk-width-container govuk-header__navigation">
        <div class="govuk-phase-banner flex-parent-element">
            <p
                class="govuk-!-text-align-left govuk-!-margin-left-3 flex-parent-element flexed-element-margins-collapse">
                {{ govukBackLink({'href': url_for("assessment_bp.landing"), 'html': 'Back to <b>assessment landing</b>',
                'attributes': {'data-qa': 'back-to-assessment-overview-link'} }) }}
            </p>
            {{ logout_partial(sso_logout_url) }}
        </div>
    </nav>

    <div class="fsd-banner-background">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl fsd-banner-content">{{ pageHeading }}</h1>
                        {% if g.access_controller.is_lead_assessor %}
                        <div class="govuk-body fsd-banner-content lead-dashboard-stats">
                            {% if round_details["is_expression_of_interest"] %}
                            <div class="lead-dashboard-stat">
                                <p id="lead-dashboard-stat-assessments-qa-completed">{{ stats.qa_completed }}</p>
                                <p class="lead-dashboard-stat-assessments-completed">QA complete</p>
                            </div>
                            {% endif %}
                            <div class="lead-dashboard-stat">
                                <p id="lead-dashboard-stat-assessments-total">{{ stats.total }}</p>
                                <p>Assessments</p>
                            </div>
                            {% for team in team_flag_stats %}
                            {% if team.raised > 0 and team.team_name %}
                            <div class="lead-dashboard-stat">
                                <p id="lead-dashboard-stat-assessments-total">{{ team.raised }}</p>
                                <p>Total flagged for {{ team.team_name }}</p>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <h2 class="govuk-heading-l fsd-banner-content"> {% if is_active_status %}All active
                            assessments{% else %}All closed assessments{% endif %}</h2>
                        <p class="govuk-body-l fsd-banner-content fsd-banner-collapse-padding"><strong>Fund: </strong>{{
                            round_details["fund_name"] }}</p>
                        {% if not round_details["is_expression_of_interest"] %}
                        <p class="govuk-body-l fsd-banner-content"><strong>Round: </strong>{{
                            round_details["round_title"] }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}

{% block content %}
{# CLOSE THE GOVUK-WIDTH-CONTAINER AND OPEN A WIDER CONTAINER FOR THE TABLE VIEW #}


<div class="govuk-grid-row">
    {% if migration_banner_enabled %}
    {{ migration_banner() }}
    {% endif %}
    {% macro ApplicationsOverviewHtmlBase(heading_text) %}
    <header class="govuk-body ">
                <!--
        TODO: Add later
            <section class="govuk-phase-banner govuk-grid-row">
                <span id="empty-positioning-child" class="govuk-grid-column-two-thirds empty-positioning-child">&nbsp;</span>
                <span class="govuk-grid-column-one-third">
                    <a href="." class="govuk-link govuk-!-margin-right-4">
                        Edit table columns</a>
                    <a href="." class="govuk-link">
                        Assign assessments
                    </a>
                </span>
            </section>
        -->
        <h1 class="govuk-heading-l">{{ heading_text }}</h1>
    </header>
    {% endmacro -%}
    <section id="application-overview" class="govuk-width-container govuk-grid-column-full">
        {% set allApplicationsOverviewHtml %}
        {{ ApplicationsOverviewHtmlBase("All applications") }}
        {{ application_overviews_table.render(
        application_overviews,
        round_details,
        query_params,
        asset_types,
        assessment_statuses,
        show_clear_filters,
        sort_column,
        sort_order,
        tag_option_groups,
        tags,
        tagging_purpose_config,
        users
        ) }}
        {% endset -%}

        {% set assignedApplicationsHtml %}
        {{ ApplicationsOverviewHtmlBase("Assigned to you") }}
        {{ application_overviews_table.render(
        assigned_applications,
        round_details,
        query_params,
        asset_types,
        assessment_statuses,
        show_clear_filters,
        sort_column,
        sort_order,
        tag_option_groups,
        tags,
        tagging_purpose_config,
        users
        ) }}
        {% endset -%}

        {% set reportingToYouApplicationsOverviewHtml %}
        {{ ApplicationsOverviewHtmlBase("Reporting to you") }}
        {{ application_overviews_table.render(
        reporting_to_user_applications,
        round_details,
        query_params,
        asset_types,
        assessment_statuses,
        show_clear_filters,
        sort_column,
        sort_order,
        tag_option_groups,
        tags,
        tagging_purpose_config,
        users
        ) }}
        {% endset -%}

        {{ govukTabs({
        "items": [
        {
        "label": "All applications",
        "id": "all-applications",
        "panel": {
        "html": allApplicationsOverviewHtml
        }
        },
        {
            "label": "Assigned to you (" ~ assigned_applications | length ~ ")",
            "id": "assigned-to-you",
            "panel": {
            "html": assignedApplicationsHtml
            }
        },
        {
            "label": "Reporting to you (" ~ reporting_to_user_applications | length ~ ")",
            "id": "reporting-to-you",
            "panel": {
            "html": reportingToYouApplicationsOverviewHtml
            }
        },
        ]
        }) }}
        <!--
        TODO: Add to tabs later
        [
            {
            "label": "Scoring",
            "id": "scoring",
            "panel": {
            "html": "TBC"
            }
        }] -->
    </section>
</div>
{% endblock content %}
