{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/tabs/macro.html' import govukTabs -%}
{% import "macros/application_overviews_table_all.html" as application_overviews_table -%}
{% import "macros/team_dashboard_header.html" as team_dashboard_header -%}
{% from "macros/banner_summary.html" import banner_summary %}
{% from "macros/logout_partial.html" import logout_partial %}
{% from "macros/migration_banner.html" import migration_banner %}

{% set pageHeading %}Team dashboard{% endset %}

{% block header %}
    {{ team_dashboard_header.render(round_details, stats, team_flag_stats, is_active_status) }}
{% endblock header %}

{% block content %}
{# CLOSE THE GOVUK-WIDTH-CONTAINER AND OPEN A WIDER CONTAINER FOR THE TABLE VIEW #}


<div class="govuk-grid-row">
    {% if migration_banner_enabled %}
    {{ migration_banner() }}
    {% endif %}
    <section id="select-assessors" class="govuk-width-container govuk-grid-column-full">
        <header class="govuk-body">
            <h1 class="govuk-heading-l">Assign assessments to general assessor</h1>
        </header>
        <div class="govuk-form-group {% if form.form_errors %} govuk-form-group--error {% endif %}">
        <p class="govuk-body">Select the user/s you would like to assign these assessments to</p>

            <form method="post" action="{{ url_for('assessment_bp.assessor_type_list',
                        fund_short_name=round_details.fund_short_name,
                        round_short_name=round_details.round_short_name) }}">
                {{ form.csrf_token }}
                <p class="govuk-body">Showing {{ users|length }} user{{ "s" if users|length > 2 else "" }}</p>
                {% for assessment in selected_assessments %}
                    <input type="hidden" name="selected_assessments" value="{{ assessment }}">
                {% endfor %}
                <input type="hidden" name="assessor_role" value="{{ assessor_role }}">
                {% if form.form_errors %}
                <p class="govuk-error-message">
                {% for error in form.form_errors %}
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                {% endfor %}
                </p>
                {% endif %}
                <input id="select_all_users" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label" for="select_all_users">Select all</label>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Select</th>
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Email</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for user in users %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <input type="checkbox" name="selected_users" value="{{ user["account_id"] }}" {% if user["account_id"] in selected_users %}checked{% endif %}>
                            </td>
                            <td class="govuk-table__cell">{{ user["full_name"] }}</td>
                            <td class="govuk-table__cell">{{ user["email_address"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
            <button class="govuk-button" type="submit">Continue</button>
        </form>
    </section>
</div>
{% endblock content %}
