{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% macro question_above_href_answer(meta) %}

    <h2 class="govuk-summary-list govuk-!-margin-bottom-4"><strong>{{ meta.question }}</strong></h2>
    {% if meta.answer_href %}
        <h3><a class="govuk-link govuk-!-font-weight-regular" href="{{ meta.answer_href }}">{{ meta.answer }}</a></h3>
    {% else %}
        <p class="govuk-body">{{ meta.answer }}</p>
    {% endif %}

{% endmacro %}
