{% macro question_above_answer_html(meta) %}

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt>
                <h4 class="govuk-heading-s"><strong> {{ meta.question }} </strong></h4>
            </dt>
            <dd class="govuk-body govuk-!-margin-left-0">
                <span> {{ meta.answer | safe }} </span>
            </dd>
        </div>
    </dl>

{% endmacro %}
