-r requirements.txt
bandit
black
deepdiff
invoke
pip-tools
pre-commit
pytest
pytest-env
pytest-flask
pytest-mock==3.7.0
pytest-selenium==2.0.1
pip-tools
selenium==4.2.0
webdriver-manager==3.7.0
boto3
beautifulsoup4
