#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils>=2.0.1,<2.1.0
requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask

#-----------------------------------
#   Security
#-----------------------------------
flask-talisman

#-----------------------------------
#   Static Assets
#-----------------------------------
Flask-Assets
Flask-Compress
cssmin
pyScss
jsmin
govuk-frontend-jinja

#-----------------------------------
#   Forms
#-----------------------------------
Flask-WTF
email-validator

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator


#-----------------------------------
#   AWS
#-----------------------------------
boto3
pyOpenSSL

git+https://github.com/SergeyPirogov/webdriver_manager@dc73f4a27e8f40cd81dc4718a3f26c22ede29586
