{% macro detailsText() %}

<div class="govuk-inset-text">
  <p>This assessment criteria is made up of 2 questions. You must leave a comment against each section. Your comments
    will be saved as you go through the assessment. </p>

  <p>In the final section, you must enter a score based on your comments. This must reflect how well the applicant has
    met the assessment criteria.</p>
</div>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      See assessment criteria
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading govuk-heading-s">Applications will be assessed on the following 4 criteria:</h3>
    <ol>
      <li> <strong>Strategic case: </strong>applicants should show that without intervention the asset would be lost to
        the community, the impacts that this would have and support they have from the community and other partners</li>
      &nbsp
      <li> <strong>Management case: </strong>applicants should show the objectives and deliverability of the project and
        how the asset or amenity will be run sustainably.</li>
      &nbsp
      <li> <strong>Potential to deliver community benefit: </strong>using the outcomes framework, applicants should show
        how the asset will deliver community benefits under community ownership.</li>
      &nbsp
      <li> <strong>Added value of the community asset based on community need: </strong>using local data and information
        on community need, applicants should be able to show the added value of the asset or amenity to the community.
      </li>
    </ol>
  </div>
</details>

{% endmacro %}