{% from "macros/flag_history.html" import display_flagged_sections %}

{% macro assessment_flagged(state, flag, user_info, application_id) %}
    <div class="assessment-alert assessment-alert--flagged" role="alert">
        <h1 class="assessment-alert__heading govuk-heading-l">
            {{ ("Flagged for "+ flag.latest_allocation if flag.latest_allocation else "Flagged") | title }}
        </h1>
        <h2>Reason</h2>
        <p>{{ flag.justification }}</p>
        <h2>Section(s) flagged</h2>
        {{ display_flagged_sections(state, application_id, flag.sections_to_flag) }}
        {# TODO: Notification is hardcoded. Change it once notification is implemented #}
        <h2>Notification sent</h2>
        <p>No</p><br>
        <p class="govuk-body-s">{{ user_info["full_name"] }} ({{ user_info["highest_role"] | all_caps_to_human }}) {{ user_info["email_address"] }}</p>
        <p class="govuk-body-s">{{ flag.date_created | utc_to_bst }}</p>
        {# TODO: Resolve flag will be removed #}
        {% if g.access_controller.is_lead_assessor %}
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('assess_bp.resolve_flag',application_id=application_id)}}?flag_id={{ flag.id }}">Resolve flag</a></p>
        {% endif %}
    </div>
{% endmacro %}

{% macro assessment_stopped(flag, user_info, application_id) %}
    <div class="assessment-alert assessment-alert--stopped" role="alert">
        <h1 class="assessment-alert__heading govuk-heading-l">Assessment {{ flag.latest_status.name | title }}</h1>
        <h2 class="govuk-heading-m">Reason</h2>
        <p class="govuk-body">{{ flag.justification }}</p>
        <p class="govuk-body-s">{{ user_info["full_name"] }} ({{ user_info["highest_role"] | all_caps_to_human }}) {{ user_info["email_address"] }}</p>
        <p class="govuk-body-s">{{ flag.date_created | utc_to_bst }}</p>
        {% if g.access_controller.is_lead_assessor %}
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('assess_bp.continue_assessment',application_id=application_id)}}?flag_id={{ flag.id }}">Remove flag and continue assessment</a></p>
        {% endif %}
    </div>
{% endmacro %}
