{% macro banner_summary(fund_name, project_reference, project_name, funding_amount_requested, display_status, user_role, flag) %}

</div> {# This div is here on purpose. #}
<div class="fsd-banner-background">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl fsd-banner-content">Fund: {{ fund_name }}</h1>
                    <h2 class="govuk-heading-l fsd-banner-content">Project
                        reference: {{ project_reference | format_project_ref }}</h2>
                    <h3 class="govuk-body-l fsd-banner-content fsd-banner-collapse-padding">Project
                        name: {{ project_name }}</h3>
                    <h3 class="govuk-body-l fsd-banner-content">Total funding requested:
                        &pound;{{ "{:,.2f}".format(funding_amount_requested | float) }}</h3>

                    {% if user_role != "COMMENTER" %}
                    {% if flag and flag.is_qa_complete and display_status not in ('FLAGGED', 'STOPPED')  %}
                    <h3 class="govuk-body-l fsd-banner-content fsd-banner-collapse-padding">
                        QA complete
                    </h3>
                    {% elif display_status=='COMPLETED' %}
                    <h3 class="govuk-body-l fsd-banner-content fsd-banner-collapse-padding">
                        Assessment complete
                    </h3>
                    {% else %}
                    <h3 class="govuk-body-l fsd-banner-content fsd-banner-collapse-padding">
                        {{ display_status | all_caps_to_human }}
                    </h3>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}
