{% macro comment_summary(comments, themes) %}

<div class="govuk-grid-column-full govuk-!-margin-top-7" id="comments">
    <h2 class="govuk-heading-l">Comments</h2>

    {% for theme in themes %}
       <h3 class="govuk-heading-m">{{ theme.name }}</h3>

    {% if comments[theme.id]|length > 0 %}

    {% for comment in comments[theme.id] %}
    {% if g.user.highest_role == "COMMENTER" and (comment.highest_role == "ASSESSOR" or comment.highest_role ==
    "LEAD_ASSESSOR") %}
        <div class="comment-group">
            <p class="govuk-body">Permission required to see comment.</p>
        </div>
        {% else %}
        <div class="comment-group">
            <p class="govuk-body">{{ comment.comment }}</p>
            <p class="govuk-body-s">{{ comment.full_name }} ({{ comment.highest_role|all_caps_to_human }})
                {{ comment.email_address }}</p>
            <p class="govuk-body-s">{{ comment.date_created|utc_to_bst }}</p>
        </div>
        {% endif %}
        {% endfor %}
        </br>

    {% else %}
        <div class="govuk-body govuk-!-margin-top-3">
            There are currently no comments for this section.
        </div>
    {% endif %}
    {% endfor %}

</div>
{% endmacro %}
