{% macro comment(comments) %}
<div class="govuk-!-margin-top-7" id="comments">
    <h2 class="govuk-heading-m">Comments</h2>
    <div id="more-detail-hint" class="govuk-hint">
      <p class="govuk-hint">Summarise any thoughts you have on the information provided.</p>
      <p class="govuk-hint">You cannot edit or delete your comment once you have saved it.</p>
    </div>
    {% if comments == None %}
    <div class="govuk-body govuk-!-margin-top-6">
        No comments have been left yet.
        </div>
    {% else %}
    {% for comment_list in comments.values() %}
        {%for comment in comment_list%}
        {% if g.user.highest_role == "COMMENTER" and (comment.highest_role == "ASSESSOR" or comment.highest_role == "LEAD_ASSESSOR") %}
            <div class="comment-group">
             <p class="govuk-body">Permission required to see comment.</p>
            </div>
        {% else %}
            <div class="comment-group">
                <p class="govuk-body">{{comment.comment}}</p>
                <p class="govuk-body-s">{{comment.full_name}} ({{comment.highest_role|all_caps_to_human}}) {{comment.email_address}}</p>
                <p class="govuk-body-s">{{comment.date_created|datetime_format_24hr}}</p>
            </div>
        {% endif %}
        {% endfor %}
    {% endfor %}
    {% endif %}
</div>
{% endmacro %}
