{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% macro comment_box(comment_form) %}

<form method="POST">
<div class="govuk-grid-row">
    {{ comment_form.csrf_token }}
    <div class="govuk-grid-column-three-quarters">
    {{ govukTextarea({
    "name": comment_form.comment.id,
    "id": comment_form.comment.id,
    "label": {
      "text": "Add a comment",
      "classes": "govuk-label--s",
      isPageHeading: true
    },
  }) }}

  {{ govukButton({
    "text": "Save comment",
    "type": "submit"
  }) }}

    </div>
</div>
</form>

{% endmacro %}
