{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{% macro criteria_element(criteria, name_classes, application_id) %}

    {% set rows = [] %}
    {% for sub_criteria in criteria.sub_criterias %}
        {% set _ = rows.append([
            {
                "html": '<a class="govuk-link" href="{}">{}</a>'.format(
                    url_for(
                        'assess_bp.display_sub_criteria',
                         application_id=application_id,
                         sub_criteria_id=sub_criteria.id
                    ),
                    sub_criteria.name
                )
            },
            { "text": sub_criteria.score or "", "format": "numeric" },
            { "html": '<span class="govuk-tag--scored-criteria">{}</span>'.format(sub_criteria.status|status_to_human),
                "format": "numeric" }
        ]) %}
    {% endfor %}

    {% set _ = rows.append([
        { "html": "<strong>Total criteria score</strong>" },
        { "text": "" },
        { "text": "{} of {}".format(criteria.total_criteria_score, criteria.total_criteria_score_possible), "format": "numeric" },
    ]) %}

    <h3 class="{{ name_classes or '' }}">{{ criteria.name }}</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">
        <strong>{{ (criteria.weighting * 100)|int }}%</strong> of overall score.
    </p>

    {{ govukTable({
        "firstCellIsHeader":false,
        "head":[
            { "text": "Assessment sub criteria" },
            { "text": "Score out of 5", "format": "numeric" },
            { "text": "Status", "format": "numeric" }
        ],
        "rows": rows,
        "classes": "govuk-!-margin-bottom-6 govuk-table-no-bottom-border"
    }) }}

{% endmacro %}
