{% extends "base.html" %} {% block content %}




{% if page_index > total_sections-1 %}
<h1 class="govuk-heading-l"> Summary page </h1>
<a
  href="{{url_for('assess_bp.flow_page_indexing', page_index=page_index-1 ) }}">
  Previous
</a>

<a href="{{url_for('assess_bp.flow_page_indexing', page_index=page_index+1) }}">
  Next
</a>

{% else %}

<h1 class="govuk-heading-l">{{ section_list[page_index]['section_name'] }}</h1>


<a
  href="{{url_for('assess_bp.flow_page_indexing', page_index=page_index-1 ) }}">
  Previous
</a>

<a href="{{url_for('assess_bp.flow_page_indexing', page_index=page_index+1) }}">
  Next
</a>


{% endif %}


{% endblock %}
