{% extends "base.html" %}

 {% block content %}

 <a href="{{url_for('assess_bp.flow_page_indexing', page_index=0 ) }}" class="govuk-back-link">Back to <span class="govuk-body govuk-!-font-weight-bold"> overall assessment</span></a>

{% if page_index == sections|length  %}

<h1 class="govuk-heading-l"> Benefits, outcomes and outputs </h1>
{% else %}

<h1 class="govuk-heading-l">{{ sections[page_index]['section_name'] }}</h1>
<a class="govuk-link govuk-link--no-underline"
    href="{{url_for('assess_bp.flow_page_indexing', page_index=page_index-1 ) }}">
    Previous
</a>
<a class="govuk-link govuk-link--no-underline"
    href="{{url_for('assess_bp.flow_page_indexing', page_index=page_index+1) }}">
    Next
</a>

{% endif %}


{% endblock %}