{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "govuk_frontend_jinja/components/tabs/macro.html" import govukTabs -%}

{% macro display_flagged_sections(state, application_id, sections_to_flag) %}
    {% for sub_section_id in sections_to_flag %}
        {% set sub_section_data = state.get_section_from_sub_criteria_id(sub_section_id) %}
        {% if sub_section_data %}
            <p><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('assess_bp.display_sub_criteria',application_id=application_id ,sub_criteria_id=sub_section_id) }}" target="_blank">{{ sub_section_data["sub_section_name"] }}</a> ({{ sub_section_data["parent_section_name"] }}) (Opens in new tab) </p>
        {% else %}
            <p>{{ sub_section_id }}</p>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro flag_table(state, application_id, flag_data, accounts_list) %}
    {% set items = [] %}
    {% for data in flag_data.updates %}
        {% set FlagDetails %}
            {% if data['status']!='RESOLVED' %}
                <p><strong>Reason</strong><br>{{ data['justification'] }}</p>
                <p><strong>Section(s) flagged</strong><br></p>
                {{ display_flagged_sections(state, application_id, flag_data['sections_to_flag']) }}
                <p><strong>Flag allocation</strong><br> <span class="flagged-tag">Flagged for {{ flag_data.allocation }}</span></p>
                <p><strong>Notification sent</strong><br>No</p>
            {% else %}
                <p><strong>Resolve flag action</strong><br>Query resolved</p>
                <p><strong>Reason</strong><br>{{ data['justification'] }}</p>
            {% endif %}

        {% endset %}

        {% set username_date = '('+ accounts_list[data['user_id']]['full_name'] + ')<br>'+ data['date_created'] | utc_to_bst %}
        {% set CreatedBy = username_date if data['status']!='RESOLVED' else 'N/A' %}
        {% set ResolvedBy = username_date if data['status']=='RESOLVED' else 'N/A' %}

        {% set addItem = items.append([{'html': CreatedBy},
                                        {'text': FlagDetails},
                                        {'html': ResolvedBy},
                                        {'text': data['status'] | capitalize}]) %}
    {% endfor %}

    <h2 class="govuk-heading-l">Flagged for {{ flag_data.allocation }}</h2>
    {{ govukTable({
    'head': [
        {'text': "Created by"},
        {'text': "Flag details"},
        {'text': "Resolved by"},
        {'text': "Flag status"}
    ],
    'rows': items
    })}}
{% endmacro %}

{% macro flag_tabs(state, application_id, flags_list, accounts_list) %}
    {% set TabsData %}
        {% set items = [] %}
        {% for flag_item in flags_list %}
            {% set addItem = items.append({
            'label': "Flagged for " + flag_item.allocation,
            'id': "tab-" + flag_item.allocation,
            'panel': {
                'html': flag_table(state, application_id, flag_item, accounts_list)}
            })%}
        {% endfor %}

        {{ govukTabs({
        'items': items
        }) }}
    {% endset %}

    <details class="govuk-details" data-module="govuk-details" open="">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Flag history
        </span>
        </summary><br><br>
        {{ TabsData }}
    </details>

{% endmacro %}
