{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% macro fund_summary(name, is_active_status, fund_id, round_id, fund_name, round_name, application_stats, assessments_href, access_controller, export_href, assessment_tracker_href, round_application_fields_download_available) %}
<div class="govuk-!-padding-0 govuk-!-padding-right-2 govuk-!-padding-bottom-2 govuk-grid-column-one-third content-container">

    <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-body govuk_summary-card__title govuk-!-font-size-24">{{round_name}}</h3>
        {% if access_controller.has_any_assessor_role %}
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-link__white_font govuk-!-margin-right-4"
                   href="{{ url_for('tag_bp.load_fund_round_tags', fund_id=fund_id, round_id=round_id) }}">
                    Manage tags
                </a>
            </li>
        </ul>
        {% endif %}
    </div>

    <div class="template-answer--dashboard-container bg-white govuk-!-padding-bottom-5">

        <div>
            <strong
                class="govuk-tag {% if not is_active_status %}govuk-tag--grey{% endif %} govuk-!-margin-bottom-2 govuk-summary-card__title ">
                {% if is_active_status %}
                ASSESSMENT ACTIVE
                {% else %}
                ASSESSMENT CLOSED
                {% endif %}
            </strong>
        </div>

        {{ govukTable({
        "caption": "",
        "firstCellIsHeader": false,
        "rows": [
        [{'html': '<strong>Assessment closing date</strong>', 'classes': 'govuk-!-width-one-third'},
        {'text': application_stats.date | datetime_format("%d %B %Y at %H:%M") }],
        [{'html': '<strong>Applications received</strong>'},
        {'text': application_stats.total_received}],
        [{'html': '<strong>Assessments completed</strong>'},
        {'text': application_stats.completed}],
        [{'html': '<strong>Assessments started</strong>'},
        {'text': application_stats.started}],
        [{'html': '<strong>QA Complete</strong>'},
        {'text': application_stats.qa_complete}],
        [{'html': '<strong>Stopped assessments</strong>'},
        {'text': application_stats.stopped}],
        ],
        }) }}

        <a class="govuk-link" data-qa="dashboard_summary" href="{{ assessments_href }}">
            View all {% if is_active_status %}active{% else %}
            closed{% endif %} assessments
        </a>
        {% if round_application_fields_download_available and access_controller.is_lead_assessor %}
        </br>
        </br>
        <a class="govuk-link" href="{{ export_href }}">
            Export applicant information
        </a>
        {% endif %}
        {% if access_controller.is_lead_assessor %}
        </br>
        </br>
        <a class="govuk-link" href="{{ assessment_tracker_href }}">
            Assessment Tracker Export
        </a>
        {% endif %}
    </div>
</div>
{% endmacro %}
