{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}

{% macro justification(justification_form_name) %}

<div class="govuk-form-group comments" name="just-text-area" id="just-text-area">
    <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m">Add rationale for this
            score</label>
    </h2>
    <div id="more-detail-hint" class="govuk-hint">
        Explain why you think this score is justified based on the assessment
        criteria
    </div>

    <textarea class="govuk-textarea" id="justification" name={{justification_form_name}} value=""
        rows="10" aria-describedby="more-detail-hint"></textarea>
</div>

{% endmacro %}
