
{% from "macros/link_to_download_contract_docs.html" import link_to_download_contract_docs %}

{% macro qa_complete_flag(flag, user_info, csrf_token, application_id) %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="assessment-complete  govuk-margin-bottom-8" role="alert">
            <h2 class="assessment-alert__heading govuk-heading-l govuk-!-margin-top-4">
                Marked as QA complete </h2>
                <p class="govuk-body-s">{{ user_info["full_name"] }} ({{ user_info["highest_role"] | all_caps_to_human }}) {{ user_info["email_address"] }}</p>
                <p class="govuk-body-s">{{ flag.date_created | utc_to_bst }}</p>

                {% if is_lead_assessor %}
                    {{ link_to_download_contract_docs(csrf_token, application_id) }}
                {% endif %}
        </div>
    </div>
</div>
{% endmacro %}
