{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "govuk_frontend_jinja/components/tag/macro.html" import govukTag -%}

{% macro scoredSection(config) %}


{% set rows = [] %}

{% for row in config['sub_criteria_rows'] %}
    {%
        set _ = rows.append([
            { "html": '<a href="{}">{}</a>'.format(row['href'], row['name']) },
            { "text": row['theme_count'] },
            { "text": row['score'] },
            { "html": govukTag({'text': row['status'], 'classes': 'govuk-tag--blue'}) },
        ])
    %}
{% endfor %}

{%
    set _ = rows.append([
        { "html": "<strong>Total criteria score</strong>" },
        { "text": "" },
        { "text": "" },
        { "text": "{} of {}".format(config['total_criteria_score'], config['total_criteria_score_possible']) },
    ])
%}

<h3 class="{{config['title_classes'] or ''}}">
    {{ config['title'] }}
</h3>

<p class="govuk-body govuk-!-margin-bottom-2">
    <strong>{{ (config['weighting'] * 100)|int}}%</strong> of overall score.
</p>

{{
    govukTable({
         "firstCellIsHeader":false,
         "head":[
              { "text": "Assessment sub criteria" },
              { "text": "Number of sections" },
              { "text": "Score" },
              { "text": "Status" }
         ],
         "rows": rows,
         "classes": "govuk-!-margin-bottom-6 govuk-table-no-bottom-border"
    })
}}


{% endmacro %}
