{%- from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios -%}

{% macro scores(score_radio_id) %}



<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-heading-s">Based on the comments, score this section</h2>
            <p class="govuk-body"> Select one of the options from the list to score this section.</p>
            <p class="govuk-body"> Use the comments and the assessment criteria to help you make a decision.</p>

        </legend>
        <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="strong" name="strong" type="radio"
                    value="strong">
                <label class="govuk-label govuk-radios__label" for="strong">
                    5 Strong
                </label>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What a strong answer looks like
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Description: What a strong answer looks like
                    </div>
                </details>
            </div>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="good" name="good" type="radio"
                    value="good">
                <label class="govuk-label govuk-radios__label" for="good">
                    4 Good
                </label>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What a good answer looks like
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Description: What a good answer looks like
                    </div>
                </details>
            </div>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="satisfactory" name="satisfactory" type="radio"
                    value="satisfactory">
                <label class="govuk-label govuk-radios__label" for="satisfactory">
                    3 Satisfactory
                </label>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What a satisfactory answer looks like
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Description: What a satisfactory answer looks like
                    </div>
                </details>
            </div>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="partial" name="partial" type="radio"
                    value="partial">
                <label class="govuk-label govuk-radios__label" for="partial">
                    2 Partial
                </label>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What a partial answer looks like
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Description: What a partial answer looks like
                    </div>
                </details>
            </div>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="poor" name="poor" type="radio"
                    value="poor">
                <label class="govuk-label govuk-radios__label" for="poor">
                    1 Poor
                </label>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What a poor answer looks like
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Description: What a poor answer looks like
                    </div>
                </details>
            </div>
        </div>

    </fieldset>
</div>
{% endmacro %}
