{%- from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios -%}

{% macro scores(score_form_name, score_list, score_error) %}

    <p class="govuk-body">Select a score from the list:&nbsp;</p>
    <div class="govuk-form-group {% if score_error %}govuk-form-group--error{% endif %}" name="score-div" id="score-div">
        {% if score_error %}
        <p id="scores-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select a score
          </p>
        {% endif %}
        <div class="govuk-radios" data-module="govuk-radios">
            {% for score, description in score_tuple %}
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id={{"score-{}".format(score)}} name={{score_form_name}}
                    type="radio" value={{score}}>
                <label class="govuk-label govuk-radios__label" for={{score_form_name}}>
                    <span class="govuk-!-font-weight-bold">{{score}}</span> {{description}}
                </label>
            </div>
            {% endfor %}

        </div>

    </div>
{% endmacro %}
