{% macro navbar(application_id, sub_criteria, current_theme_id, on_summary) %}

<nav class="assessment-navigation">
    <ul class="govuk-list">
        {%for theme in sub_criteria.themes%}
        <li><a class="{{'govuk-link--no-underline govuk-list' if theme.id|string == current_theme_id|string else 'govuk-link--no-visited-state'}}"
                href="{{ url_for('assess_bp.display_sub_criteria',application_id=application_id,sub_criteria_id=sub_criteria.id,theme_id=theme.id) }}">{{theme.name}}</a>
        </li>
        {%endfor%}
    </ul>

    <ul class="govuk-list">
        <li><a class="{{'govuk-link--no-underline govuk-list' if on_summary else 'govuk-link--no-visited-state'}}" href="{{ url_for('assess_bp.display_sub_criteria',application_id=application_id,sub_criteria_id=sub_criteria.id,theme_id='score') }}">Score the subcriteria</a></li>
    </ul>
</nav>

{%endmacro%}