{% macro navbar(application_id, sub_criteria, current_theme_id, is_score_page=False) %}
<nav class="assessment-navigation">
    <ul class="govuk-list">
        {% for theme in sub_criteria.themes %}
        {% set is_current_url = (current_theme_id == theme.id) and not is_score_page %}
        <li>
            {% if not is_current_url %}
            <a class="govuk-link govuk-link--no-visited-state" data-qa="sub_criteria_theme"
            href="{{ url_for('assess_bp.display_sub_criteria',application_id=application_id,sub_criteria_id=sub_criteria.id,theme_id=theme.id) }}">
            {% endif %}
            {{ theme.name }}
            {% if not is_current_url %}
            </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% if g.access_controller.has_any_assessor_role and sub_criteria.is_scored %}
    <ul class="govuk-list">
        <li>
            {% if not is_score_page %}
            <a id="score-subcriteria-link" class="govuk-link govuk-link--no-visited-state" href="{{ url_for('assess_bp.score',application_id=application_id,sub_criteria_id=sub_criteria.id) }}">
            {% endif %}
            Score the subcriteria
            {% if not is_score_page %}
            </a>
            {% endif %}
        </li>
    </ul>
{% endif %}
</nav>

{% endmacro %}
