{% from "macros/theme/monetary_key_values.jinja2" import monetary_key_values %}
{% from "macros/theme/question_above_answer.jinja2" import question_above_answer %}
{% from "macros/theme/question_beside_answer.jinja2" import question_beside_answer %}
{% from "macros/theme/question_above_href_answer.jinja2" import question_above_href_answer %}
{% from "macros/theme/question_beside_href_answer.jinja2" import question_beside_href_answer %}
{% from "macros/theme/question_beside_with_formatted_answer.jinja2" import question_beside_with_formatted_answer %}
{% from "macros/theme/question_heading.jinja2" import question_heading %}

{% set ui_component_mapping = {
    'monetary_key_values': monetary_key_values,
    'question_above_answer': question_above_answer,
    'question_beside_answer': question_beside_answer,
    'question_above_href_answer': question_above_href_answer,
    'question_beside_href_answer': question_beside_href_answer,
    'question_beside_with_formatted_answer': question_beside_with_formatted_answer,
    'question_heading': question_heading,
} %}

{% macro theme(theme_id, answers_meta) %}
    <h2 class="govuk-heading-m">{{ theme_id | remove_dashes_underscores_capitalize }}</h2>
    <h3 class="govuk-heading-s response-title">Applicant's response</h3>
    <div class="template-answer">
        {% for meta in answers_meta %}
            {% if meta.should_render %}
                {{ ui_component_mapping[meta.key](meta) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
