{%- from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios -%}

{% macro theme(current_theme_id) %}
<h2 class="govuk-heading-m">{{current_theme_id|capitalize}}</h2>
<h3 class="govuk-heading-s response-title">Applicant's response</h3>
<div class="template-answer">
    <h2 class="govuk-heading-s"><strong>Question One</strong></h2>
    <p class="govuk-body">Answer One</p>
    <h2 class="govuk-heading-s"><strong>Question Two</strong></h2>
    <p class="govuk-body">Answer Two</p>
</div>
{% endmacro %}
