{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% macro question_above_href_answer_list(meta) %}

    <h2 class="govuk-summary-list govuk-!-margin-bottom-4">
        <strong>{{ meta.question }}</strong></h2>
    {% for key, href in meta.key_to_url_dict.items() %}
        <h3>
            <a class="govuk-link govuk-!-font-weight-regular"
               {# we split by / and render just the filename #}
               href="{{ href }}">{{ key.rsplit("/", 1)[-1] }}</a>
        </h3>
    {% endfor %}
    {% if not meta.key_to_url_dict %}
        <p class="govuk-body">Not provided.</p>
    {% endif %}

{% endmacro %}
