{% macro question_above_answer(meta) %}

    <h2 class="govuk-heading-s"><strong> {{ meta.question }} </strong></h2>
    <p class="govuk-body"> {{ "£{:,.2f}".format(meta.answer) if meta.answer is number else meta.answer }} </p>

{% endmacro %}
