{% extends "base.html" %}
{% from "macros/scores_justification.html" import scores_justification %}
{% from "macros/theme.html" import theme %}
{% from "macros/sub_criteria_navbar.html" import navbar %}
{% from "macros/banner_summary.html" import banner_summary %}
{% from "macros/flag_application_button.html" import flag_application_button %}
{% from "macros/comments_summary.html" import comment_summary %}
{% from "macros/sub_criteria_heading.html" import sub_criteria_heading %}
{% from "macros/migration_banner.html" import migration_banner %}
{% set pageHeading -%}
{% if score_form.errors.get('score') or score_form.errors.get('justification') %}
Error:
{% endif %}
Score – {{ sub_criteria.name }} – {{ sub_criteria.project_name }}
{% endset %}

{% block header %}
{% include "./components/header.html" %}
{% endblock header %}

{% block content %}
{% if score_form.errors.get('score') or score_form.errors.get('justification') %}
    <div class="govuk-error-summary " data-module="govuk-error-summary" role="alert">
        <h2 class="govuk-error-summary__title" autofocus>
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% if score_form.errors.get('score') %}
                <li>
                    <a href="#score-div">Select a score</a>
                </li>
                {% endif %}
                {% if score_form.errors.get('justification') %}
                <li>
                    <a href="#just-text-area">Add rationale for score</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}

{% if migration_banner_enabled %}
    {{migration_banner()}}
{% endif %}

{% if is_flaggable and g.access_controller.has_any_assessor_role %}
{{ flag_application_button(application_id) }}
{% endif %}

{{ sub_criteria_heading(sub_criteria, score_form, rescore_form)}}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {{ navbar(application_id, sub_criteria, current_theme_id, is_score_page=True) }}
        </div>
        <div class="theme govuk-grid-column-two-thirds">
            {{ scores_justification(score_form, rescore_form, is_rescore, latest_score, application_id,
            sub_criteria.id,state.fund_guidance_url) }}
            {{ comment_summary(comments, sub_criteria.themes) }}
        </div>
</div>
{% endblock content %}
