{% extends "base.html" %}
{% from "macros/tag_header.html" import tag_header %}
{% from "macros/migration_banner.html" import migration_banner %}
{% set pageHeading -%}
{{ "Error: " if form.errors }}Create a new tag
{% endset %}

{% block header %}
{{ tag_header("manage tags", url_for("tagging_bp.load_fund_round_tags", fund_id=fund_round["fund_id"],
round_id=fund_round["round_id"]), fund_round, sso_logout_url) }}
{% endblock header %}

{% block content %}
{% if migration_banner_enabled %}
  {{ migration_banner() }}
{% endif %}

<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Create a new tag</h1>
  <div id="contact-hint" class="govuk-hint govuk-!-margin-bottom-6">
    General and lead assessors can use new tags you create to tag any {{ fund_round["fund_name"] }} assessments.
  </div>

  <form method="post">
    {{ form.csrf_token }}

    {% if errors %}
    <div class="govuk-grid-row govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title" autofocus>
          There is a problem
        </h2>
        {% for input, error in errors.items() %}
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#{{ input }}">{{ error[0] }}</a>
            </li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if errors != None and form.value.id in errors.keys() %}
    <div class="govuk-form-group govuk-form-group--error">
      <label class="govuk-label govuk-label--s" for="{{ form.value.id }}">
        Tag name
      </label>
      <div id="tag-value-hint" class="govuk-hint govuk-visually-hidden">
        The name of the new tag.
      </div>
      <p id="tag-value-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ errors[form.value.id][0] }}
      </p>
      <input class="govuk-input govuk-input--error" id="{{ form.value.id }}" name="{{ form.value.id }}" type="text" value="{{ form.value.data or '' }}"
        aria-describedby="tag-value-hint tag-value-error">
    </div>
    {% else %}
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="{{ form.value.id }}">
        Tag name
      </label>
      <div id="tag-value-hint" class="govuk-hint govuk-visually-hidden">
        The name of the new tag.
      </div>
      <input class="govuk-input" id="{{ form.value.id }}" name="{{ form.value.id }}" type="text" value="{{ form.value.data or '' }}"
        aria-describedby="tag-value-hint">
    </div>
    {% endif %}

    <div
      class="govuk-form-group {% if errors != None and form.type.id in errors.keys() %}govuk-form-group--error{% endif %}">
      <fieldset id="{{ form.type.id }}" class="govuk-fieldset" aria-describedby="tag-purpose-hint tag-purpose-error">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Tag purpose
          </h1>
        </legend>
        <div id="tag-purpose-hint" class="govuk-hint">
          Select the tag purpose that best describes your tag value.
        </div>
        {% if errors != None and form.type.id in errors.keys() %}
        <p id="tag-purpose-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors[form.type.id][0] }}
        </p>
        {% endif %}
        {% for tag_type in tag_types %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{ form.type.id }}-{{ tag_type['purpose'] }}" name="{{ form.type.id }}"
            type="radio" value="{{ tag_type['id'] }}" {% if tag_type['id']==form.type.data %} checked {% endif
            %}aria-describedby="tag-item-hint">
          <label class="govuk-label govuk-radios__label" for="{{ form.type.id }}-{{ tag_type['purpose'] }}">
            {{ tag_type['purpose'].title() }}
            <strong
              class="govuk-tag govuk-!-margin-left-2 govuk-tag--{{ tag_config[tag_type['purpose']]['colour'] }} dluhc-tag">{{
              tag_config[tag_type['purpose']]['colour'].title() if tag_config[tag_type['purpose']]['colour'].lower() !=
              "grey" else "White" }}</strong>
          </label>
          <div id="tag-item-hint-{{ tag_type['purpose'] }}" class="govuk-hint govuk-radios__hint">
            {{ tag_type['description'] }}
          </div>
        </div>
        {% endfor %}

      </fieldset>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" data-qa="save-and-add-another"
        formaction="{{ url_for('tagging_bp.create_tag', fund_id = fund_round['fund_id'], round_id = fund_round['round_id']) }}">
        Save and add another
      </button>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-qa="save-and-add-another"
        formaction="{{ url_for('tagging_bp.create_tag', fund_id=fund_round['fund_id'], round_id=fund_round['round_id'], go_back=True) }}">
        Save and go back
      </button>
      <a class="govuk-link" href="{{ url_for("tagging_bp.load_fund_round_tags", fund_id=fund_round['fund_id'], round_id=fund_round['round_id']) }}">
        Cancel
      </a>
    </div>
  </form>
</div>
{% endblock content %}
