{% extends "base.html" %}
{% from "macros/tag_header.html" import tag_header %}
{% from "macros/migration_banner.html" import migration_banner %}
{% set pageHeading = "Manage tags" %}

{% block header %}
{{ tag_header("assessment landing", url_for("assessment_bp.landing"), fund_round, sso_logout_url) }}
{% endblock header %}

{% block content %}
{% if migration_banner_enabled %}
    {{ migration_banner() }}
{% endif %}
{# djlint:off #}<div class="govuk-grid-column-two-thirds">{# djlint:on #}
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ pageHeading }}</h1>
                <div id="contact-hint" class="govuk-hint govuk-!-margin-bottom-6">
                    <p>View and edit the existing tags for this assessment round, create new ones, or deactivate and
                        reactivate tags.</p>
                    <p>Note that you cannot edit people tags which have been imported.</p>
                </div>

                <div class="govuk-grid-row govuk-!-text-align-left">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="{{ url_for('tagging_bp.create_tag', fund_id = fund_round['fund_id'], round_id = fund_round['round_id']) }}"
                        class="govuk-button govuk-button--secondary" data-module="govuk-button" data-qa="create-new-tag">
                            Create new tag
                        </a>
                    </div>
                </div>

                <nav class="search-bar-flex-container">
                    <form method="get" class="govuk-!-width-full">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    <div class="govuk-form-group">
                                        <label for="application_search" class="govuk-label">Search by tag name</label>
                                        <input class="govuk-input" type="text" spellcheck="false"
                                            aria-label="Search by tag name" id="tag_search" name="search_term" ,=""
                                            value={{ search_params['search_term'] }}>
                                    </div>
                                </div>
                            </div>

                            <div class="govuk-grid-row govuk-!-text-align-left">
                                <div class="govuk-grid-column-one-quarter">
                                    <div class="govuk-form-group govuk-!-display-inline-block">
                                        <label class="govuk-label" for="tag_purpose">
                                            Filter by tag purpose
                                        </label>
                                        {{ query_params }}
                                        <select class="govuk-select" name="tag_purpose" id="tag_purpose">
                                            {% for tag_type in tag_types %}
                                            <option value={{ tag_type.purpose }} {% if
                                                search_params['tag_purpose']==tag_type.purpose %} selected{% endif %}>
                                                {{ tag_type.purpose.title() }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="govuk-grid-column-one-quarter">
                                    <div class="govuk-form-group govuk-!-display-inline-block">
                                        <label class="govuk-label" for="tag_status">
                                            Display
                                        </label>
                                        <select class="govuk-select" name="tag_status" id="tag_status">
                                            {% for tag_status_config in tag_status_configs %}
                                        {# djlint:off #}
                                        <option value={{ tag_status_config['value'] }} {% if
                                            search_params['tag_status']==tag_status_config['value'] %} selected{%
                                            endif %}>
                                            {{ tag_status_config["text"] }}
                                        </option>
                                        {# djlint:on #}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="govuk-grid-column-one-quarter">
                                    <div class="govuk-button-group govuk-!-margin-top-6">
                                        <button class="govuk-button primary-button search-button" data-qa="search-tag" type="submit">
                                            Search
                                        </button>
                                        {% if show_clear_filters %}
                                        <a class="govuk-link" href="{{ url_for('tagging_bp.load_fund_round_tags',
                                fund_id=fund_round['fund_id'],
                                round_id=fund_round['round_id'],
                                clear_filters=true) }}" aria-label="Clear Filters">Clear search</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </nav>

                {% if tags %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-form-group">
                            <table class="govuk-table">
                                <caption class="govuk-table__caption govuk-table__caption--m">Active tags</caption>
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Tag name</th>
                                        <th scope="col" class="govuk-table__header">Colour</th>
                                        <th scope="col" class="govuk-table__header">Purpose</th>
                                        <th scope="col" class="govuk-table__header"></th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    {% for tag in tags %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            {{ tag.value }}
                                        </td>
                                        <td class="govuk-table__cell">
                                            <strong
                                                class="govuk-tag--{{ tag_config[tag.purpose]['colour'] }} govuk-tag dluhc-tag">{{ tag.value }}</strong>
                                        </td>
                                        <td class="govuk-table__cell">
                                            {{ tag.purpose.capitalize() }}
                                        </td>
                                        {% if tag.active %}
                                            <td class="govuk-table__cell">
                                                <a class="govuk-link" data-qa="edit-tag" href="{{ url_for ('tagging_bp.edit_tag',
                                                fund_id = fund_round['fund_id'],
                                                round_id = fund_round['round_id'],
                                                tag_id=tag.id) }}">
                                                    Edit
                                                </a>
                                            </td>
                                        {% else %}
                                            <td class="govuk-table__cell">
                                                <a class="govuk-link" ata-qa="reactivate" href="{{ url_for('tagging_bp.reactivate_tag',
                                                fund_id=fund_round['fund_id'],
                                                round_id=fund_round['round_id'],
                                                tag_id=tag.id) }}">
                                                    Reactivate
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                        {% else %}
                        <p class="govuk-body dluhc-body-empty">
                            There are no tags available
                        </p>
                        {% endif %}
                    </div>
            </div>
        {% endblock content %}
