{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "govuk_frontend_jinja/components/tag/macro.html" import govukTag -%}

{% block beforeContent %}
{{
  govukBackLink({'href': url_for("assess_bp.landing")})
}}
{% endblock %}


{% block content %}

<span class="govuk-caption-l">Project reference</span>
<h1 class="govuk-heading-l">{{application.identifier}}</h1>

    {{ govukDetails({
        'summaryText': fund.name,
        'text': fund.description,
        'id': "assessment-page-details",
        'open':True
      })
    }}


<p class="govuk-body-l">
   You have completed {{application.question_status_summary.get("COMPLETED")}}
   of {{application.questions|length}} questions.
  </p>

  <p class="govuk-heading-xl">General assessment</p>

<table class="govuk-table">
  {% for question in application.questions %}
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
      <a href="{{ url_for(
        'application_question',
        application_id=application.identifier,
        question_id=loop.index)
        }}" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">{{ question.title }}</a>
      </td>

      <td class="govuk-table__cell">
        <strong class="govuk-tag
        {% if question.status == 'NOT STARTED' %}govuk-tag--grey
        {% elif question.status == 'IN PROGRESS' %}govuk-tag--blue
        {%endif%}">
        {{ question.status }}
      </strong>
      </td>
    </tr>

  </tbody>
  {% endfor %}
</table>

{% endblock %}
