{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% block content %}
  <div>
<!--      <p class="govuk-body"><a class="govuk-back-link" href="{{ url_for('assess_bp.fund_round',fund_id=fund.identifier, round_id=round.identifier) }}">Back</a></p>-->
        <p class="govuk-heading-s">
            Fund: <a href="{{ url_for('assess_bp.fund',fund_id=fund.identifier) }}" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">{{ fund.name }}</a>
            <br />Round: <a href="{{ url_for('assess_bp.fund_round',fund_id=fund.identifier, round_id=round.identifier) }}" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">{{ round.identifier }}</a>
        </p>
      <h1 class="govuk-heading-xl">Application</h1>
      <p class="govuk-body"><b>Application ID:</b> <a href="{{ url_for('assess_bp.application',fund_id=fund.identifier, round_id=round.identifier, application_id=application.identifier) }}" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">{{ application.identifier }}</a>
          <br /><b>Submitted:</b> {{ application.submitted.strftime('%d %b %Y') }} <b>{{ application.submitted.strftime('%H:%M %p') }}</b></p>
  </div>
<p class="govuk-heading-m govuk-!-margin-top-7">Select a question:</p>
        <ol class="govuk-list govuk-list--number">
      {% for question in application.questions %}
          <li>
                <a href="{{ url_for(
                'application_question',
                fund_id=fund.identifier,
                round_id=round.identifier,
                application_id=application.identifier,
                question_id=loop.index)
                }}" class="govuk-body-lead govuk-link govuk-link--no-underline govuk-link--no-visited-state">{{ question.title }}</a>
          </li>
      {% endfor %}
        </ol>
{% endblock %}
