{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%  from 'macros/section_element.html' import section_element -%}
{%  from 'macros/criteria_element.html' import criteria_element -%}
{% block beforeContent %}{{ govukBackLink({'href': url_for("assess_bp.landing")}) }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-column-two-thirds">
                <h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-1">
                        <strong>Fund:</strong> {{ state.fund_name }}
                    </p>
                    <p class="govuk-body-l govuk-!-margin-bottom-1">
                        <strong>Project reference:</strong> {{ state.short_id | format_project_ref }}
                    </p>
                    <p class="govuk-body-l govuk-!-margin-bottom-1">
                        <strong>Project name:</strong> Placeholder {# TODO: Get project name? #}
                    </p>
                    <p class="govuk-body-l govuk-!-margin-bottom-1">
                        <strong>Submitted:</strong> {{ state.date_submitted | slash_separated_day_month_year }}
                    </p>
                </h1>
                <div>
                    <p class="govuk-body-l govuk-!-margin-top-1 govuk-!-margin-bottom-1">
                        <strong>Assessment status: <span class="govuk-task-list__status--blue">{{ state.workflow_status | status_to_human }}</span></strong>
                    </p>
                    <p class="govuk-body-l">
                        <strong>Overall total score:</strong> xx out of xx
                    </p>
                </div>
                {% for section in state.sections %}{{ section_element(section.name, section.sub_criterias) }}{% endfor %}
                <h2 class="govuk-heading-l govuk-!-margin-top-8">Score the application</h2>
                <p class="govuk-body">
                    Scored. Your comments and scores save as you go. You can edit until you submit for moderation.
                </p>
                <p class="govuk-body">You must assess all the questions in all the subcriteria.</p>
                {% for criteria in state.criterias %}
                    {% set name_classes = "govuk-heading-m govuk-!-margin-bottom-2" %}
                    {% if loop.index > 0 %}
                        {% set name_classes = "govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8" %}
                    {% endif %}
                    {{
                    criteria_element(
                    criteria.sub_criterias,
                    criteria.name,
                    name_classes,
                    criteria.total_criteria_score,
                    criteria.total_criteria_score_possible,
                    criteria.weighting
                    )
                    }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
