{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% block content %}
  <div>
        <h4 class="govuk-heading-s">{{ fund.name }}</h4>
      <h1 class="govuk-heading-xl">Application #{{ application.identifier }}:</h1>
  </div>
<h5 class="govuk-heading-s">Select Question:</h5>
        <ol class="govuk-list govuk-list--number">
      {% for question in application.submission.questions %}
          <li>
                <a href="{{ url_for(
                'application_question',
                fund_id=fund.identifier,
                application_id=application.identifier,
                question_id=loop.index)
                }}" class="govuk-body-lead govuk-link--no-underline">{{ question.question }}</a>
          </li>
      {% endfor %}
        </ol>
{% endblock %}
