{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%  from 'macros/unscored_section.html' import unscoredSection -%}
{%  from 'macros/scored_section.html' import scoredSection -%}

{% block beforeContent %}
{{ govukBackLink({'href': url_for("assess_bp.landing")}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-two-thirds">
            <h1>
                <p class="govuk-body-l govuk-!-margin-bottom-1">
                    <strong>Fund:</strong> {{ fund.name }}
                </p>
                <p class="govuk-body-l govuk-!-margin-bottom-1">
                    <strong>Project reference:</strong> {{ assessment.short_id }}
                </p>
                <p class="govuk-body-l govuk-!-margin-bottom-1">
                    <strong>Project name:</strong> Placeholder {# TODO: Get project name? #}
                </p>
                <p class="govuk-body-l govuk-!-margin-bottom-1">
                    <strong>Submitted:</strong> {{ assessment.jsonb_blob.date_submitted | slash_separated_day_month_year }}
                </p>
            </h1>

            <div>
                <p class="govuk-body-l govuk-!-margin-top-1 govuk-!-margin-bottom-1">
                    <strong>Assessment status: <span class="govuk-task-list__status--blue">{{ assessment.workflow_status | status_to_human }}</span></strong>
                </p>
                <p class="govuk-body-l">
                    <strong>Overall total score: </strong> xx out of xx
                </p>
            </div>

            {% for section in config['unscored_assessment_sections'] %}

                {% set sub_criteria_rows = [] %}

                {% for sub_criteria in section['sub_criteria'] %}
                    {% set _ = sub_criteria_rows.append(
                        {
                            'href': '/section/{}'.format(sub_criteria['id']),
                            'name': sub_criteria['name'],
                        }
                    ) %}
                {% endfor %}

                {{
                    unscoredSection({
                        "title": section['name'],
                        "rows": sub_criteria_rows,
                    })
                }}

            {% endfor %}

            <h2 class="govuk-heading-l govuk-!-margin-top-8">
                Score the application
            </h2>

            <p class="govuk-body">
                Scored. Your comments and scores save as you go. You can edit until you submit for moderation.
            </p>

            <p class="govuk-body">
                You must assess all the questions in all the subcriteria.
            </p>

            {% for section in config['scored_assessment_criteria'] %}

                {% set sub_criteria_rows = [] %}

                {# TODO: populate the score/status dynamically #}
                {% for sub_criteria in section['sub_criteria'] %}
                    {% set _ = sub_criteria_rows.append(
                        {
                            "href": "/section/{}".format(sub_criteria['id']),
                            "name": sub_criteria['name'],
                            "theme_count": sub_criteria['themes']|length,
                            "score": "",
                            "status": "Not started",
                        }
                    ) %}
                {% endfor %}

                {% set title_classes = "govuk-heading-m govuk-!-margin-bottom-2" %}
                {% if loop.index > 0 %}
                    {% set title_classes = "govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8" %}
                {% endif %}

                {# TODO: populate the total score & possible dynamically #}
                {{
                    scoredSection({
                        "title": section['name'],
                        "title_classes": title_classes,
                        "weighting": section['weighting'],
                        "total_criteria_score": "X",
                        "total_criteria_score_possible": "X",
                        "sub_criteria_rows": sub_criteria_rows,
                    })
                }}

            {% endfor %}


        </div>
    </div>

</div>

{% endblock %}
