{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{% from "macros/flag_history.html" import flag_tabs %}
{% from 'macros/section_element.html' import section_element -%}
{% from 'macros/criteria_element.html' import criteria_element -%}
{% from "macros/banner_summary.html" import banner_summary %}
{% from "macros/flag_application_button.html" import flag_application_button %}
{% from "macros/mark_qa_complete_button.html" import mark_qa_complete_button %}
{% from "macros/assessment_flag.html" import assessment_flagged %}
{% from "macros/assessment_flag.html" import assessment_stopped %}
{% from "macros/logout_partial.html" import logout_partial %}
{% from "macros/qa_complete_flag.html" import qa_complete_flag %}
{% from "macros/assessment_completion.html" import assessment_complete %}

{% set pageHeading = state.project_name %}

{% block header %}
<header role="banner" data-module="govuk-header">
    <nav class="govuk-width-container govuk-header__navigation">
        <div class="govuk-phase-banner flex-parent-element">
            <p class="govuk-!-text-align-left flex-parent-element flexed-element-margins-collapse">
                {{ govukBackLink({'href': url_for("assess_bp.fund_dashboard", fund_short_name=fund_short_name, round_short_name=round_short_name), 'html': 'Back to <b>assessment dashboard</b>', 'attributes': {'data-qa': 'back-to-assessment-dashboard'} }) }}
            </p>
            {{ logout_partial(sso_logout_url) }}
        </div>
    </nav>

    {{ banner_summary(
        state.fund_name,
        state.short_id,
        state.project_name,
        state.funding_amount_requested,
        display_status,
    ) }}
</header>
{% endblock header %}

{% block content %}

<div>
    {{ flag_tabs(state, application_id, flags_list, accounts_list) }}
</div>

{# TODO: Display multiple flag banner #}
<div>
    {% if g.access_controller.has_any_assessor_role and display_status == "QA complete" %}
        {{ qa_complete_flag(flags_list[-1], accounts_list[flags_list[-1].latest_user_id], form.csrf_token, application_id) }}
    {% endif %}

    {% if g.access_controller.has_any_assessor_role and (display_status == "Multiple Flags To Resolve" or "Flagged" in display_status) %}
        {{ assessment_flagged(state, flags_list[-1], accounts_list[flags_list[-1].latest_user_id], application_id) }}
    {% elif g.access_controller.has_any_assessor_role and display_status == "Stopped" %}
        {{ assessment_stopped(flags_list[-1], accounts_list[flags_list[-1].latest_user_id], application_id) }}
    {% endif %}

    {% if sub_criteria_status_completed and g.access_controller.has_any_assessor_role and display_status != "QA complete" %}
        {{ assessment_complete(state, flags_list[-1], form.csrf_token, application_id)}}
    {% endif %}
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-8">Unscored</h2>
            {% for section in state.sections %}
                {{ section_element(section.name, section.sub_criterias, application_id) }}
            {% endfor %}
            <h2 class="govuk-heading-l govuk-!-margin-top-8">Scored</h2>
            <p class="govuk-body">Assess all responses under each sub criteria.</p>
            {% for criteria in state.criterias %}
                {% set name_classes = "govuk-heading-m govuk-!-margin-bottom-2" %}
                {% if loop.index > 0 %}
                    {% set name_classes = "govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8" %}
                {% endif %}
                {{ criteria_element(criteria, name_classes, application_id) }}
            {% endfor %}
        </div>
        <div class="govuk-grid-column-one-third govuk-!-margin-top-2 govuk-button-group">
            <span>
                {% if g.access_controller.is_lead_assessor and state.workflow_status=="COMPLETED" and display_status not in ["QA complete", "Stopped", "Flagged", "Multiple Flags To Resolve"] and "Flagged" not in display_status %}
                {{ mark_qa_complete_button(application_id) }}
                {% endif %}
            </span>
            <span>
                {% if is_flaggable and g.access_controller.has_any_assessor_role %}
                {{ flag_application_button(application_id) }}
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock content %}
