{% extends "base.html" %}


{% from "macros/title_answer_pairs.html" import TitleAnswer %}
{% from "macros/comments_box.html" import uploadComments as commentBox %}
{% from "macros/display_comments.html" import displayComments %}
{% from "macros/tabs.html" import tabs %}
{% from "macros/scores.html" import scores %}
{% from "macros/confirm_scores_box.html" import confirmScores %}
{% from "macros/assessment_criteria_detail.html" import detailsText as assessment_criteria %}

{% block content %}

<a href="{{url_for('assess_bp.assessment_flow',index=0 ) }}"
  class="govuk-back-link govuk-body govuk-!-margin-bottom-7">Back to <span class="govuk-body govuk-!-font-weight-bold">
    overall assessment</span></a>

{% if index == sections|length %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half govuk-!-padding-right-2">
    <h2 class="govuk-heading-m"> Benefits, outcomes and outputs </h2>
    {{ tabs(sections, "criteria") }}
  </div>

  <div class="govuk-grid-column-one-half">
    {{scores()}}
    {{confirmScores(section_name, url_for('assess_bp.assessment_flow', index=0) )}}
  </div>
</div>

{% else %}

<h1 class="govuk-heading-l">{{ section_name }} </h1>
<span class="govuk-body-l govuk-!-margin-bottom-4">
  Section {{index+1}} of {{sections|length}}:
</span>

<div class="govuk-inset-text">
  <p>This assessment criteria is made up of 2 questions. You must leave a comment against each section. Your comments
    will be saved as you go through the assessment. </p>

  <p>In the final section, you must enter a score based on your comments. This must reflect how well the applicant has
    met the assessment criteria.</p>
</div>

{{assessment_criteria()}}


<h2 class="govuk-heading govuk-heading-m">Applicant's answer</h2>
<div class="light-blue-background padding-top-left-right">
  {% for question in questions %}
  <ul>
    <li class="govuk-body">
      <a class="govuk-link--no-underline govuk-link--no-visited-state" href="#{{ question }}">
        {{ question['question'] }}
      </a>
    </li>
  </ul>
  {% endfor %}

  {% for fields in questions %}
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
  <span id="{{ fields }}">
    {{ TitleAnswer(fields) }}
  </span>
  {% endfor %}
</div>

<div class="govuk-!-margin-top-7">
  {{commentBox()}}
</div>


{% if index > 0 %}

<div class="govuk-form-group govuk-!-margin-top-7">
  <div style="display: flex; justify-content: space-between;" class="pagination-links govuk-!-margin-top-7">
    <a class="govuk-link--no-visited-state govuk-link--no-underline"
      href="{{url_for('assess_bp.assessment_flow', index=index-1 ) }}">
      <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">Previous</span>
    </a>

    <a class="govuk-link--no-visited-state govuk-link--no-underline govuk-!-text-align-right  govuk-!-margin-left-9"
      href="{{url_for('assess_bp.assessment_flow', index=index+1) }}">
      <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">Next</span>
    </a>
  </div>
</div>

{% else %}

<div class="govuk-form-group govuk-!-margin-top-7">
  <div style="display: flex; justify-content: space-between;" class="pagination-links govuk-!-margin-top-7">
    <a class="govuk-link--no-visited-state govuk-link--no-underline govuk-!-text-align-right  govuk-!-margin-left-9"
      href="{{url_for('assess_bp.assessment_flow', index=index+1) }}">
      <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">Next</span>
    </a>
  </div>
</div>

{% endif %}

{% endif %}

{% endblock %}