{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{% from "macros/banner_summary.html" import banner_summary %}
{% from "macros/logout_partial.html" import logout_partial %}

{% block content %}
<div class="govuk-phase-banner flex-parent-element">
    <p class="govuk-!-text-align-left flex-parent-element flexed-element-margins-collapse">
        <a href="{{url_for('assess_bp.landing')}}" class="govuk-back-link" id="back-to-assessment-dashboard">
            Back to <b>assessment dashboard</b></a>
    </p>
    {{ logout_partial(sso_logout_url) }}
</div>
{{ banner_summary(
fund_name,
state.short_id,
state.project_name,
state.funding_amount_requested,
state.display_status,
flag
) }}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-column-two-thirds flagging-container">
                <form method="POST">
                    {{ form.csrf_token }}
                    <h1 class="govuk-heading govuk-heading-l">Continue assessment</h1>

                    <p class="govuk-body">This will remove the flag and allow assessment to continue.</p>

                    <div class="govuk-form-group">

                        {{ govukTextarea({
                        'id': form.reason.id,
                        'name': form.reason.id,
                        'rows': '8',
                        'label': {
                        'text': 'Reason for continuing assessment',
                        'classes': 'govuk-label govuk-label--s'
                        },
                        'errorMessage': {
                        'text': form.errors.get("reason") | join("\n"),
                        } if form.errors.get("reason") else None,
                        'value': form.reason.data or ""
                        }) }}

                    </div>
                    <div class="govuk-button-group">
                        <button class="govuk-button primary-button" data-module="govuk-button">
                            Submit
                        </button>
                        <a href="{{ referrer }}" class="govuk-button secondary-button govuk-link--no-visited-state">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
