{% extends "base.html" %}
{% from "macros/tag_header.html" import tag_header %}

{% block header %}
{{ tag_header("edit_tag", url_for("tag_bp.edit_tag", fund_id=fund_round["fund_id"], round_id=fund_round["round_id"], tag_id=tag.id), fund_round, sso_logout_url) }}
{% endblock header %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full content-container">

    <h1 class="govuk-heading-xl">Deactivate {{tag.value}} tag</h1>
    {% for message in get_flashed_messages() %}
      <div class="govuk-grid-row govuk-error-summary" data-module="govuk-error-summary" role="alert">
          <h2 class="govuk-error-summary__title" autofocus>
              {{ message }}
          </h2>
      </div>
  {% endfor %}
    <p class="govuk-body-l govuk-!-font-weight-bold">Are you sure you want to deactivate this tag?</p>
    <p class="govuk-body">This will remove the tag from {{tag.tag_association_count}}
      {% trans count=tag.tag_association_count%}
        assessment
      {% pluralize %}
        assessments
      {% endtrans %}
      where this tag is applied.</p>
      <p class="govuk-body govuk-!-margin-bottom-8">You can undo this by reactivating the tag.</p>
    <form method="post">
      {{ form.csrf_token }}


      <div class="govuk-button-group">
        <button class="govuk-button govuk-button--warning" data-module="govuk-button" data-qa="yes-deactivate-tag">
          Yes, deactivate tag
        </button>
        <a class="govuk-link" href="{{ url_for('tag_bp.load_fund_round_tags', fund_id=fund_round['fund_id'],
          round_id=fund_round['round_id']) }}">
          Cancel
        </a>
      </div>
    </form>

  </div>
</div>
{% endblock %}
