{% import 'components/input.html' as input-%}
{% import 'components/textarea.html' as textarea-%}
{% import 'components/radios.html' as radios-%}
{% import 'components/select.html' as select-%}



{% macro render(field) -%}
      {% if field.field_type == "MultilineTextField" %}
        {{ textarea.render(field) }}
      {% elif field.field_type == "RadiosField" %}
        {{ radios.render(field) }}
      {% elif field.field_type == "SelectField" %}
        {{ select.render(field) }}
      {% elif field.field_type == "YesNoField" %}
        {{ radios.render(field) }}
      {% elif field.name != 'csrf_token' %}
        {{ input.render(field) }}
      {% endif %}
{% endmacro %}
