{% extends "base.html" %}
{% from "govuk_frontend_jinja/components/label/macro.html" import govukLabel %}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "govuk_frontend_jinja/components/fieldset/macro.html" import govukFieldset -%}
{%- from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea -%}
{%- from "govuk_frontend_jinja/components/checkboxes/macro.html" import govukCheckboxes -%}
{% from "macros/banner_summary.html" import banner_summary %}
{% set pageHeading = "Flag application" %}

{% block header %}
{% include "./components/header.html" %}
{% endblock header %}

{% block content %}
{% if form.errors.get("justification") or form.errors.get("section") %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
        <h2 class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% if form.errors.get("justification") %}
                <li>
                    <a href=#{{ form.justification.id }}>{{ form.errors.get("justification") | join("\n") }}</a>
                </li>
                {% endif %}
                {% if form.errors.get("section") %}
                <li>
                    <a href=#{{ form.section.id }}>{{ form.errors.get("section") | join("\n") }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div>
            <div class="govuk-grid-column-two-thirds">
                <form method="post">
                    {{ form.csrf_token }}
                    <h1 class="govuk-heading govuk-heading-l">{{ pageHeading }}</h1>
                    <p class="govuk-body">
                        Flag a section to a lead assessor. They will review the responses
                        to either resolve your query, or stop the assessment.
                    </p>

                    {# Reason for Flagging #}
                    {{ govukTextarea({
                        'id': form.justification.id,
                        'name': form.justification.id,
                        'label': {
                            'text': 'Reason for flagging',
                            'classes': 'govuk-label govuk-label--m'
                        },
                        'errorMessage': {
                            'text': form.errors.get("justification") | join("\n")
                        } if form.errors.get("justification") else None,
                        'rows': 8,
                        'value': form.justification.data or ""
                    }) }}

                    {# Section(s) to Flag #}
                    <div class="govuk-form-group">
                        {{ govukLabel({
                            'name': form.section.id,
                            'text': 'Section(s) to flag',
                            'errorMessage': {
                                'text': form.errors.get("section") | join("\n")
                            } if form.errors.get("section") else None,
                            'value': form.section.data or "",
                            'classes': 'govuk-label govuk-label--m',
                            'attributes': { 'data-qa': 'select_section_to_flag' },
                            'for': form.section.id
                        }) }}
                        <div class="govuk-hint">Select all that apply</div>

                        {# Get list of sub-sections from Unscored section #}
                        {% set items = [] %}
                        {% for section in state.sections %}
                            {% if section.name == 'Unscored' %}
                                {% for sub_section in section.sub_criterias %}
                                    {% set addItem = items.append({'value': sub_section["id"],
                                                                    'text': sub_section["name"]}) %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {{ govukCheckboxes({
                            'idPrefix': 'Unscored',
                            'name': form.section.id,
                            'fieldset': {
                                'legend': {
                                'html': '<h1 class="govuk-fieldset__heading">Unscored</h1>',
                                'classes': 'govuk-fieldset__legend--s'
                                }
                            },
                            'items': items,
                            'classes': 'govuk-checkboxes--small'
                            })
                        }}

                        {# Get list of sub-sections from Declaration section #}
                        {% set items = [] %}
                        {% for section in state.sections %}
                            {% if section.name == 'Declarations' %}
                                {% for sub_section in section.sub_criterias %}
                                    {% set addItem = items.append({'value': sub_section["id"],
                                                                'text': sub_section["name"]}) %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {{ govukCheckboxes({
                            'idPrefix': 'Declarations',
                            'name': form.section.id,
                            'fieldset': {
                                'legend': {
                                'html': '<h1 class="govuk-fieldset__heading">Declarations</h1>',
                                'classes': 'govuk-fieldset__legend--s'
                                }
                            },
                            'items': items,
                            'classes': 'govuk-checkboxes--small'
                            })
                        }}

                        {# Get list of sub-sections from Scored section #}
                        {% call govukFieldset({
                                'legend': {
                                    'html': "<h1 class=\"govuk-fieldset__heading govuk-!-margin-top-5\">Scored</h1>",
                                    'classes': 'govuk-fieldset__legend--s'
                                    }
                                })
                        %}
                        {% for section in state.criterias %}
                            {% set items = [] %}
                            {% for sub_section in section.sub_criterias %}
                                {% set addItem = items.append({'value': sub_section["id"],
                                                            'text': sub_section["name"]}) %}
                            {% endfor %}
                            {{ govukCheckboxes({
                                'idPrefix': 'Scored',
                                'name': form.section.id,
                                'fieldset': {
                                    'legend': {
                                    'html': "<h1 class=\"govuk-fieldset__heading\">{}</h1>".format(section["name"]),
                                    'classes': 'govuk-fieldset__legend--s'
                                    }
                                },
                                'items': items,
                                'classes': 'govuk-checkboxes--small'
                                })
                            }}
                        {% endfor %}
                        {% endcall %}
                    </div>

                    <div class="govuk-button-group">
                        <button class="govuk-button primary-button"
                                data-module="govuk-button">
                            Submit
                        </button>
                        <a href="{{ url_for('assess_bp.application', application_id=application_id)}}"
                            class="govuk-button secondary-button">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
