{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{% from "macros/banner_summary.html" import banner_summary %}
{% from "macros/logout_partial.html" import logout_partial %}
{% set pageHeading = "Flag application" %}
{% block content %}
<div class="govuk-phase-banner flex-parent-element">
    <p class="govuk-!-text-align-left flex-parent-element flexed-element-margins-collapse">
        <a href="{{url_for('assess_bp.application', application_id=application_id)}}" class="govuk-back-link" data-qa="back-to-assessment-overview-link">
            Back to <b>assessment overview</b></a>
    </p>

    {{ logout_partial(sso_logout_url) }}
</div>

{% if form.errors.get("justification") or form.errors.get("section") %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
        <h2 class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% if form.errors.get("justification") %}
                <li>
                    <a href=#{{form.justification.id}}>{{form.errors.get("justification") | join("\n")}}</a>
                </li>
                {% endif %}
                {% if form.errors.get("section") %}
                <li>
                    <a href=#{{form.section.id}}>{{form.errors.get("section") | join("\n")}}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endif %}


    {{ banner_summary(
        fund_name,
        banner_state.short_id,
        banner_state.project_name,
        banner_state.funding_amount_requested,
        banner_state.workflow_status,
        g.user.highest_role,
    ) }}

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div>
                    <div class="govuk-grid-column-two-thirds">
                        <form method="POST">
                            {{ form.csrf_token }}
                            <h1 class="govuk-heading govuk-heading-l">{{pageHeading}}</h1>
                            <p class="govuk-body">
                                Flag a section to a lead assessor. They will review the responses
                                to either resolve your query, or stop the assessment.
                            </p>

                            {{ govukTextarea({
                                'id': form.justification.id,
                                'name': form.justification.id,
                                'label': {
                                    'text': 'Reason for flagging',
                                    'classes': 'govuk-label govuk-label--s'
                                },
                                'errorMessage': {
                                    'text': form.errors.get("justification") | join("\n")
                                } if form.errors.get("justification") else None,
                                'rows': 8,
                                'value': form.justification.data or ""
                            }) }}

                            {{ govukTextarea({
                                'id': form.section.id,
                                'name': form.section.id,
                                'rows': '1',
                                'label': {
                                    'text': 'Section to flag',
                                    'classes': 'govuk-label govuk-label--s'
                                },
                                'errorMessage': {
                                    'text': form.errors.get("section") | join("\n"),
                                } if form.errors.get("section") else None,
                                'value': form.section.data or ""
                            }) }}

                            <div class="govuk-button-group">
                                <button class="govuk-button primary-button"
                                        data-module="govuk-button">
                                    Submit
                                </button>
                                <a href="{{ referrer }}"
                                   class="govuk-button secondary-button">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
