{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% block content %}
  <div>
<!--      <p class="govuk-body"><a class="govuk-back-link" href="{{ url_for('assess_bp.funds') }}">Back</a></p>-->
      <p class="govuk-heading-s"><a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="{{ url_for('assess_bp.funds') }}">Funds</a></p>
      <h1 class="govuk-heading-xl">{{ fund.name }}</h1>
    <p class="govuk-heading-m">Please choose a round:</p>
  </div>
    {% if fund.rounds %}
        <ul class="govuk-list">
      {% for round in fund.rounds %}
          <li>
            <a class="govuk-button govuk-button--secondary" href="{{ url_for('assess_bp.fund_round',fund_id=fund.identifier,round_id=round.identifier) }}">Round {{ round.identifier }}</a>
          </li>
      {% endfor %}
        </ul>
    {% else %}
        <p class="govuk-body-lead">No rounds exist for this fund yet.</p>
    {% endif %}
{% endblock %}
