{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% import 'components/application_overviews_table.html' as application_overviews_table-%}

{% block content %}
<p class="govuk-heading-xl">Assessor dashboard</p>
<h1 class="govuk-heading-l">All assessments</h1>
<h2 class="govuk-heading-m dashboard-deadline ">Due date: <span class="govuk-body-l">{{ assessment_deadline|datetime_format }}</span></h2>

<br /><br />
      {{ application_overviews_table.render(application_overviews, query) }}
{% endblock %}
