{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "govuk_frontend_jinja/components/tag/macro.html" import govukTag -%}

{% block beforeContent %}
{{
  govukBackLink({'href': url_for("assess_bp.fund_round", fund_id=fund_data.identifier, round_id=round_data.identifier)})
}}
{% endblock %}


{% block content %}

<span class="govuk-caption-l">Project reference</span>
<h1 class="govuk-heading-l">{{application_data.identifier}}</h1>

    {{ govukDetails({
        'summaryText': fund_data.name,
        'text': fund_data.description,
        'id': "assessment-page-details",
        'open':True}) }}


<p class="govuk-body-l">
   You have completed {{status_completed|length}}
   of {{status_not_completed|length}} questions.
  </p>
  <h1 class="govuk-heading-l">General assessment</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__caption--m" scope="col">
         Question </th>
      <th class="govuk-table__header govuk-table__caption--m" scope="col">
        Status </th>
    </tr>
  </thead>
  {% for question, status in status_data_ALL.items() %}
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        {{question}}
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--grey">
  {{status}}
</strong>

      </td>
    </tr>

  </tbody>
  {% endfor %}
</table>

{% endblock %}
