{% extends "base.html" %}

{% block content %}
  <div>
      <p class="govuk-heading-s">
            Fund: <a href="{{ url_for('assess_bp.fund',fund_id=fund.identifier) }}" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">{{ fund.name }}</a>
            <br />Round: <a href="{{ url_for('assess_bp.fund_round',fund_id=fund.identifier, round_id=round.identifier) }}" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">{{ round.title }}</a>
        </p>
      <h1 class="govuk-heading-xl">Application</h1>
      <p class="govuk-body"><b>Application ID:</b> <a href="{{ url_for('assess_bp.view_application',fund_id=fund.identifier,round_id=round.identifier, application_id=application.identifier) }}" class="govuk-link govuk-link--no-underline govuk-link--no-visited-state">{{ application.identifier }}</a>
          <br /><b>Submitted:</b> {{ application.submitted.strftime('%d %b %Y') }} <b>{{ application.submitted.strftime('%H:%M %p') }}</b></p>
      <p class="govuk-body govuk-!-font-size-36 govuk-!-margin-top-8">Question {{question_id}}:</p>
      <p class="govuk-body-lead govuk-!-margin-bottom-9"><b>{{ question.title }}</b></p>
  </div>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
          {% for field in question.fields %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-width-one-third" name="qfield_key_{{field.key}}">{{ field.title }}</th>
          <td class="govuk-table__cell govuk-!-width-two-thirds" name="qfield_answer_{{field.key}}">{{ field.answer }}</td>
        </tr>
          {% endfor %}
      </tbody>
    </table>
<p class="govuk-body govuk-!-margin-top-9"></p>
        <div class="govuk-button-group govuk-!-margin-top-9">
          <button class="govuk-button" data-module="govuk-button">
            Save Q{{question_id}} assessment
          </button>

            {% with next_question_id = question_id+1 %}
          <a class="govuk-button govuk-button--secondary" href="{{ url_for(
                        'application_question',
                        fund_id=fund.identifier,
                        round_id=round.identifier,
                        application_id=application.identifier,
                        question_id=next_question_id)
                        }}">{% if final_question %} Return to summary {% else %}Next Question{% endif %}</a>
            {% endwith %}
        </div>
{% endblock %}
