{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "govuk_frontend_jinja/components/tag/macro.html" import govukTag -%}

{% block beforeContent %}
{{
    govukBackLink({
    'href': url_for("assess_bp.application",
    fund_id = fund_data.identifier,
    application_id= application.identifier)
  })
  }}

{% endblock %}

{% block content %}

<span class="govuk-caption-l">Project reference</span>
<h1 class="govuk-heading-m">{{application.identifier}}</h1>

    {{ govukDetails({
        'summaryText': fund_data.name,
        'text': fund_data.description,
        'id': "assessment-page-details",
        'open':True}) }}


 <h1 class="govuk-heading-l">{{page_title}}</h1>


<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__caption--m" scope="col">
         Question </th>
      <th class="govuk-table__header govuk-table__caption--m" scope="col">
        Answer </th>
    </tr>
  </thead>

   <tbody class="govuk-table__body">
    {% for f in fields %}

    <tr class="govuk-table__row">
    <td class="govuk-table__cell">
        {{f.title}}
    </td>
    <td class="govuk-table__cell">
        {{ f.answer }}
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
