{% extends "base.html" %}
{% import 'components/answer_view_table.html' as answer_view_table %}
{% import 'components/answer_view_text.html' as answer_view_text %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}

{% block beforeContent %}
<a href="{{url_for('assess_bp.application', application_id=application.identifier)}}" class="govuk-back-link">
  Back to <b>{{application.identifier}}</b></a>
{% endblock %}

{% block content %}
<span class="govuk-caption-m">Project reference</span>
<p class="govuk-heading-m">{{application.identifier}}</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <b>{{ question.title }}</b>
    </h1>

    <details
      class="govuk-details govuk-!-margin-bottom-5"
      data-module="govuk-details" open
    >
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {% if summary %} {{ summary }} {% else %} Help my with guidance on
          scoring this section {% endif %}
        </span>
      </summary>
      <div class="govuk-details__text">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </div>
    </details>

    {{ answer_view_text.render(question) }}
  </div>
</div>

{% endblock %}
