{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{%- from "govuk_frontend_jinja/components/fieldset/macro.html" import govukFieldset -%}
{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}
{% from "macros/banner_summary.html" import banner_summary %}
{% set pageHeading = "Resolve flag" %}

{% block header %}
{% include "./components/header.html" %}
{% endblock header %}

{% block content %}

{% if form.errors.get(form.resolution_flag.id) or form.errors.get("justification") %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% if form.errors.get(form.resolution_flag.id) %}
        <li>
          <a href=#{{ form.resolution_flag.id }}>{{ form.errors.get(form.resolution_flag.id) | join("\n") }}</a>
        </li>
        {% endif %}
        {% if form.errors.get("justification") %}
        <li>
          <a href=#{{ form.justification.id }}>{{ form.errors.get("justification") | join("\n") }}</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-two-thirds flagging-container">
      <form method="post">
        {{ form.csrf_token }}
        <h1 class="govuk-heading govuk-heading-l">{{ pageHeading }}</h1>
          {% call govukFieldset({
            'legend': {
            "text": "Confirm that a query has been resolved, or that the overall application should not be assessed
            further",
            "isPageHeading": true,
            "classes": "govuk-fieldset__legend--s"
            }
          }) %}

          <div class="govuk-inset-text">
          <h3>Flag details</h3>
          <p><strong>Reason</strong><br>{{ reason_to_flag }}</p>
          <p><strong>Section(s) to flag</strong><br></p>
          {% for sub_section_id in sections_to_flag %}
              {% set sub_section_data = state.get_section_from_sub_criteria_id(sub_section_id) %}
              {% if sub_section_data %}
                  <p><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('assess_bp.display_sub_criteria',application_id=application_id ,sub_criteria_id=sub_section_id) }}" target="_blank">{{ sub_section_data["sub_section_name"] }}</a> ({{ sub_section_data["parent_section_name"] }}) (Opens in new tab)</p>
              {% else %}
                  <p class="govuk-body">{{ sub_section_id }}</p>
              {% endif %}
          {% endfor %}
          </div>
          {{ govukRadios({
          "id": form.resolution_flag.id,
          "name": form.resolution_flag.id,
          "items": [
          {
          "value": "RESOLVED",
          "text": "Query resolved",
          "label": {
          "text": "resolve",
          "for": form.resolution_flag.id
          },
          "checked": form.resolution_flag.data=="RESOLVED"
          },
          {
          "value": "STOPPED",
          "text": "Stop assessment ",
          "label": {
          "text": "resolve",
          "for": form.resolution_flag.id
          },
          "checked": form.resolution_flag.data=="STOPPED"
          }
          ],
          "errorMessage": {
          "text": form.errors.get(form.resolution_flag.id) | join("\n"),
          } if form.errors.get(form.resolution_flag.id) else None
          }) }}

          {% endcall %}

        {{ govukTextarea({
        'id': form.justification.id,
        'name': form.justification.id,
        'label': {
        'text': 'Reason',
        'classes': 'govuk-label govuk-label--s'
        },
        'errorMessage': {
        'text': form.errors.get("justification") | join("\n"),
        } if form.errors.get("justification") else None,
        'value': form.justification.data or ""
        }) }}
        <div class="govuk-button-group">
          <button class="govuk-button primary-button" data-module="govuk-button">
            Submit
          </button>
          <a href="{{ url_for('assess_bp.application', application_id=application_id) }}" class="govuk-button secondary-button govuk-link--no-visited-state">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
