{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{%- from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}
{% from "macros/banner_summary.html" import banner_summary %}
{% from "macros/logout_partial.html" import logout_partial %}

{% block content %}
<div class="govuk-phase-banner flex-parent-element">
  <p class="govuk-!-text-align-left flex-parent-element flexed-element-margins-collapse">
    {{ govukBackLink({'href': url_for("assess_bp.landing"), 'text': 'Back to assessment dashboard'}) }}
  </p>
  {{ logout_partial(sso_logout_url) }}
</div>
{{ banner_summary(
fund_name,
state.short_id,
state.project_name,
state.funding_amount_requested,
state.display_status,
flag
) }}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-two-thirds flagging-container">
        <form method="POST">
          {{ form.csrf_token }}
          <h1 class="govuk-heading govuk-heading-l">Resolve flag</h1>
          {{ govukRadios({
          "id": form.resolution_flag.id,
          "name": form.resolution_flag.id,
          "fieldset": {
          "legend": {
          "text": "Confirm that a query has been resolved, or that the overall application should not be assessed
          further",
          "isPageHeading": true,
          "classes": "govuk-fieldset__legend--s"
          }
          },
          "items": [
          {
          "value": "RESOLVED",
          "text": "Query resolved",
          "label": {
          "text": "resolve",
          "for": form.resolution_flag.id
          },
          "checked": form.resolution_flag.data=="RESOLVED"
          },
          {
          "value": "STOPPED",
          "text": "Stop assessment ",
          "label": {
          "text": "resolve",
          "for": form.resolution_flag.id
          },
          "checked": form.resolution_flag.data=="STOPPED"
          }
          ],
          "errorMessage": {
          "text": form.errors.get(form.resolution_flag.id) | join("\n"),
          } if form.errors.get(form.resolution_flag.id) else None
          }) }}
          {{ govukTextarea({
          'id': form.justification.id,
          'name': form.justification.id,
          'label': {
          'text': 'Reason',
          'classes': 'govuk-label govuk-label--s'
          },
          'errorMessage': {
          'text': form.errors.get("justification") | join("\n"),
          } if form.errors.get("justification") else None,
          'value': form.justification.data or ""
          }) }}
          <div class="govuk-button-group">
            <button class="govuk-button primary-button" data-module="govuk-button">
              Submit
            </button>
            <a href="{{url_for('assess_bp.application', application_id=application_id)}}" class="govuk-button secondary-button govuk-link--no-visited-state">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
