{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{% from "macros/scores_justification.html" import scores_justification %}
{% from "macros/theme.html" import theme %}
{% from "macros/sub_criteria_navbar.html" import navbar %}

{% block content %}
    <div class="govuk-phase-banner flex-parent-element"></div>
    <div class="flex-parent-element">
        <p class="flex-parent-element flexed-element-margins-collapse govuk-!-text-align-right"><a href="#" class="govuk-link flexed-element-margins-collapse" style="text-align:right !important;">Sign out</a></p>
        <p class="flex-parent-element flexed-element-margins-collapse govuk-!-text-align-left"><a href="{{ url_for("assess_bp.landing") }}" class="govuk-back-link">Back to <span class="govuk-!-font-weight-bold">assessment overview</span></a></p>
    </div>
    </div>
    <div class="fsd-banner-background">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl fsd-banner-content">Fund: {{ fund.name }}</h1>
                        <h2 class="govuk-heading-l fsd-banner-content">Project reference: {{ sub_criteria.project_reference }}</h2>
                        <h3 class="govuk-body-l fsd-banner-content fsd-banner-collapse-padding">Project name: {{ sub_criteria.project_name }}</h3>
                        <h3 class="govuk-body-l fsd-banner-content">Total funding requested: &pound;{{ "{:,.2f}".format(sub_criteria.funding_amount_requested) }}</h3>
                        <h3 class="govuk-body-l fsd-banner-content fsd-banner-collapse-padding">{{ sub_criteria.workflow_status | status_to_human }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third content-container">
            <h1 class="govuk-heading-l scoring-heading">{{sub_criteria.id}}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-column-one-third">
                {{ navbar(application_id, sub_criteria, current_theme_id, on_summary) }}
            </div>
            <div class="theme govuk-grid-column-two-thirds">
                {% if on_summary %}
                    {{scores_justification(scores_submitted, form, score_list, latest_score, application_id, sub_criteria.id, COF_score_list, score_error, justification_error)}}
                {% else %}
                    {{theme(current_theme_id)}}
                {% endif %}
                <div class="govuk-!-margin-top-7" id="anchor">
                    <h2 class="govuk-heading-m">Comments</h2>
                    <div id="more-detail-hint" class="govuk-hint">
                      <p class="govuk-hint">Summarise any thoughts you have on the information provided.</p>
                      <p class="govuk-hint">You cannot edit or delete your comment once you have saved it.</p>
                    </div>
                    {% if comments == None %}
                    <div class="govuk-body govuk-!-margin-top-6">
                        No comments have been left yet.
                        </div>
                    {% else %}
                    {% for comment in comments %}
                    <div class="s26-comment-group">
                      <p class="govuk-body">{{comment.comment}}</p>
                      <p class="govuk-body-s">{{comment.full_name}} ({{comment.user_role|all_caps_to_human}}) {{comment.email_address}}</p>
                      <p class="govuk-body-s">{{comment.date_created|datetime_format_24hr}}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}