{% extends "base.html" %}
{% from "macros/sub_criteria_navbar.html" import navbar %}

{% block content %}


<div class="govuk-width-container ">
    <div class="govuk-grid-row">
        <a href="../assessment-overview.html" class="govuk-back-link">Back to <span
                class="govuk-!-font-weight-bold">assessment overview</span>
        </a>
    </div>

    <div class="govuk-grid-row headline-container">
        <div class="headline-info">
            <div class="heading-container">
                <p class="govuk-heading-l">Fund: <span>{{fund}}</span></p>
                <p class="govuk-heading-l">Project reference: <span>{{project_reference}}</span></p>
            </div>
            <p class="govuk-body-l">Project name: <span>{{project_reference}}</span></p>
            <p class="govuk-body-l">Total funding requested: <span>{{total_funding_requested}}</span></p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third content-container">
            <h1 class="govuk-heading-l scoring-heading">{{sub_criteria.id}}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-column-one-third">
                {{ navbar(sub_criteria,themes, current_theme_id, on_summary) }}
            </div>
            <div class="theme govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">{{current_theme_id}}</h2>
                <h3 class="govuk-heading-s response-title">Applicant's response</h3>
                <div class="template-answer">
                    <h2 class="govuk-heading-s"><strong>Question One</strong></h2>
                    <p class="govuk-body">Answer One</p>
                    <h2 class="govuk-heading-s"><strong>Question Two</strong></h2>
                    <p class="govuk-body">Answer Two</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
