.govuk-width-container {
  width: 100%;
    max-width: 1400px;
    padding: 0 2em;
    margin: auto;
  }

.govuk-main-wrapper {
    padding:0px;
}

.govuk-header {
    padding-bottom:0px;
    border-bottom:0px;
}

.govuk-header__container {
    padding-top:10px !important;
}

.govuk-table-no-bottom-border .govuk-table__body .govuk-table__row:last-child .govuk-table__cell {
    border-bottom: none;
  }

.govuk-tag--scored-criteria {
    text-size-adjust: 100%;
    list-style-type: none;
    border-spacing: 0;
    border-collapse: collapse;
    color: #144E81;
    background-color: #e8f1f8;
    line-height: 1.1;
    padding: 2.5px;
    font-weight: 400;
    text-transform: none;
  }

.gov-uk-table__cell--align-right {
    text-align: right;
  }

.fsd-banner-background {
    background-color: #1d70b8;
    margin: 0 0 30px;
    padding: 40px 0;
    color:white;
    text-size-adjust:100%;
}

.fsd-banner-content {
    color:white;
}

.fsd-banner-collapse-padding {
    margin-bottom:0px;
}

.govuk-template__body {
    background-color: #f1f1f1;
}

.govuk-phase-banner__content {
    width:100%
}

.govuk-heading-xl {
    margin-bottom:30px;
}

.flex-parent-element {
  display: flex;
    width:100%;
}

.flex-child-element {
  flex: 1;
  border: 2px solid blueviolet;
  margin: 0px;
}

.flexed-element-margins-collapse, flexed-element-margins-collapse > p, flexed-element-margins-collapse > p > a {
display: block;
font-size: 16px;
margin:0px;
}

.flex-child-element:first-child {

}
.govuk-back-link {
    margin:0px;
}

.govuk-phase-banner {
    margin-top: 15px;
    margin-bottom:15px;
    border-bottom:0px;
}
