.dashboard-deadline {
    background: #f3f2f1;
    width: 24%;
    text-align: center;
    padding: 1%;
}

.not-started-tag {
    color: #144E81;
    background-color: #c7dbed;
    line-height: 1.1;
    font-weight: 400;
    padding: 2.5px;
}

.search-button {
    color: #fff;
    background-color: #1d70b8;
    margin-bottom: 0;
    margin-left: 8px;
}

.search-input {
    width: 16em;
}

.search-bar-flex-container {
    float: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.search-bar-flex-container p {
    margin-bottom: 30px;
    font-size: 1.1875rem;
}
