{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "macros/sortable_table_header.html" import sortable_table_header %}
{% from "macros/filter_options_all.html" import filter_options %}
{% from "macros/application_status_column.html" import application_status_column %}
{% from "macros/tags_table.html" import tags_table %}

{% macro render(application_overviews, round_details, query_params, asset_types,
assessment_statuses, display_config,
sort_column, sort_order, tag_option_groups, tags, tagging_purpose_config, users) -%}

{% if display_config["assessment_form"] and display_config["assessment_form"].form_errors %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% for error in display_config["assessment_form"].form_errors %}
        <li><a href="#application_overviews_table">{{ error }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

<nav class="search-bar-flex-container">
  <form method="get" class="govuk-!-width-full">
    {{ filter_options(
    query_params,
    'Search reference or project name',
    assessment_statuses,
    round_details,
    display_config,
    tag_option_groups,
    users
    ) }}
  </form>
</nav>

{% if not application_overviews %}
<div role="status" aria-live="assertive" class="govuk-!-margin-top-4">
  <p class="govuk-body" autofocus>
    <strong>No matching results.</strong>
  </p>
  <p class="govuk-body">Improve your results by:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>removing filters</li>
    <li>double-checking your spelling</li>
  </ul>
</div>
{% else %}
  {% if display_config["assessment_form"] %}
  <form method="post" action="{{ url_for('assessment_bp.assign_assessments',
                      fund_short_name=round_details.fund_short_name,
                      round_short_name=round_details.round_short_name) }}">
    {{ display_config["assessment_form"].csrf_token }}
  {% endif %}
  <table class="govuk-table govuk-!-margin-top-4 {% if display_config["assessment_form"] and display_config["assessment_form"].form_errors %} govuk-form-group--error {% endif %}" id="application_overviews_table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        {% if display_config["assessment_form"] %}
        <th scope="col" class="govuk-table__header">
          Select
        </th>
        {% endif %}
        <th scope="col" class="govuk-table__header">
          Reference
        </th>
        {{ sortable_table_header('project_name', 'Project name', sort_order, sort_column, round_details, query_params) }}
        {{ sortable_table_header('funding_requested', 'Funding requested', sort_order, sort_column, round_details,
        query_params) }}
        {{ sortable_table_header('asset_type', 'Asset type', sort_order, sort_column, round_details, query_params) }}
        {{ sortable_table_header('location', 'Location', sort_order, sort_column, round_details, query_params) }}
        {{ sortable_table_header('tags', 'Tags', sort_order, sort_column, round_details, query_params) }}
        {% if g.access_controller.has_any_assessor_role %}
        {{ sortable_table_header('status', 'Status', sort_order, sort_column, round_details, query_params) }}
        {% endif %}
        {{ sortable_table_header('assigned_to', 'Assigned to', sort_order, sort_column, round_details, query_params) }}
        {{ sortable_table_header('last_action', 'Last action', sort_order, sort_column, round_details, query_params) }}
        {{ sortable_table_header('time_since_last_action', 'Time since last action', sort_order, sort_column,
        round_details, query_params) }}
      </tr>
    </thead>
  <tbody class="govuk-table__body">
    {% for overview in application_overviews %}
    <tr class="govuk-table__row">
      {% if display_config["assessment_form"] %}
      <td class="govuk-table__cell">
        <input type="checkbox" name="selected_assessments" value="{{ overview.application_id }}" {% if overview.application_id in display_config["selected_assessments"] %}checked{% endif %} />
      </td>
      {% endif %}
      <td class="govuk-table__cell">{{ overview.short_id[-6:] }}</td>
      <td class="govuk-table__cell"><a class="govuk-link" data-qa="project_name"
          href="{{ url_for('assessment_bp.application',application_id=overview.application_id) }}">{{
          overview.project_name }}</a></td>
      <td class="govuk-table__cell">£{{ "{:,.2f}".format(overview.funding_amount_requested|int|round) }}</td>
      <td class="govuk-table__cell">{{ asset_types[overview.asset_type] }}</td>
      <td class="govuk-table__cell">{{ overview.location_json_blob.get('country') or "Not found" }}</td>
      {{ tags_table(tags[overview.application_id], tagging_purpose_config, query_params.show_tags == "ON") }}
      {% if g.access_controller.has_any_assessor_role %}
      {{ application_status_column(overview.application_status, overview.get("progress", ""), assessment_statuses) }}
      {% endif %}
      <td class="govuk-table__cell">
        {% if overview.assigned_to_names %}
        {% for name in overview.assigned_to_names %}
          <span class="assigned-to">{{ name }}</span><br>
        {% endfor %}
      {% else %}
        -
      {% endif %}</td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell">-</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  {% if display_config["assessment_form"] %}
  <div class="govuk-!-margin-top-4">
    <button type="submit" class="govuk-button">Continue</button>
  </div>
  </form>
  {% endif %}
{% endif %}
{%- endmacro %}
