{% macro comment(comments) %}
<div class="govuk-!-margin-top-7" id="comments">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Comments</h2>
    <div id="more-detail-hint" class="govuk-hint">
      <p class="govuk-hint govuk-!-margin-top-0">Summarise any thoughts you have on the information provided.</p>
    </div>
    {% if comments == None %}
    <div class="govuk-body govuk-!-margin-top-6">
        No comments have been left yet.
        </div>
    {% else %}
    {% for comment_list in comments.values() %}
        {% for comment in comment_list %}
        {% if not g.access_controller.has_any_assessor_role and comment.from_any_assessor %}
            <div class="comment-group">
             <p class="govuk-body">Permission required to see comment.</p>
            </div>
        {% else %}
            <div class="comment-group">
                <p class="govuk-body">{{ comment.updates[-1]['comment'] }}</p>
                <p class="govuk-body-s">{{ comment.full_name }} ({{ comment.highest_role|all_caps_to_human }}) {{ comment.email_address }}</p>
                <p class="govuk-body-s">{{ comment.date_created|utc_to_bst }}</p>
                {% if g.account_id == comment.user_id %}
                    <div class="govuk-button-group">
                        <a class="govuk-link" href="{{ url_for(
                            "assessment_bp.display_sub_criteria",
                            application_id=comment.application_id,
                            sub_criteria_id=comment.sub_criteria_id,
                            edit_comment="1",
                            comment_id=comment.id
                        ) }}" >Edit comment</a>
                        {% if comment.updates|length > 1 %}
                            <a class="govuk-link" href="./comment-history.html">See history</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% endfor %}
    {% endfor %}
    {% endif %}
</div>
{# <form class="govuk-!-margin-top-2" action="./community-engagement#anchor" method="POST">
    <div class="govuk-form-group govuk-!-margin-top-7">
        <div class="govuk-form-group govuk-!-margin-top-2">
          <label class="govuk-label govuk-label--m">
            Edit comment
          </label>
          <div class="s26-comment-group">
            <p class="govuk-body">This is a comment that has been left by you and has the ability to be edited as well as see previous edits for this comment.</p>
            <p class="govuk-body-s">Your name (Assessor) yourname@assessment.org.uk</p>
            <p class="govuk-body-s">19/05/2022 at 14:58</p>
          </div>
          <textarea class="govuk-textarea" id="s26-community-engagement-comment-2" name="s26-community-engagement-comment-2" value="" rows="8" autofocus="" spellcheck="false">This is a comment that has been left by you and has the ability to be edited as well as see previous edits for this comment.
          </textarea>
          <button id="comment-button-community" class="govuk-button primary-button" data-module="govuk-button" type="submit" value="save-comment">
            Save comment
          </button>
        </div>
    </div>
</form> #}
{% endmacro %}
