{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% macro comment_box(comment_form, html_text, placeholder, application_id) %}

<form method="post">
<div class="govuk-grid-row">
    {{ comment_form.csrf_token }}
    <div class="govuk-grid-column-full">
    {{ govukTextarea({
    "name": comment_form.comment.id,
    "id": comment_form.comment.id,
    "rows": 8,
    "label": {
      "text": "" if html_text else "Add a comment",
      "html": html_text if html_text else "",
      "classes": "govuk-label--m",
      isPageHeading: true
    },
    "value": placeholder if placeholder else "",
    "errorMessage": {
      "text": comment_form.comment.errors.0
  } if comment_form.comment.errors
  }) }}

  {{ govukButton({
    "text": "Save comment",
    "type": "submit",
    "classes": "primary-button govuk-!-margin-bottom-9",
    "data-qa": "save-comment-button"
  }) }}

  {% if application_id %}
    <a class="govuk-link govuk-!-padding-top-2 govuk-!-display-inline-block" href="{{  url_for(
    "assessment_bp.application",
    application_id=application_id) }}">Cancel</a>
  {% endif %}

    </div>
</div>
</form>

{% endmacro %}
