{% macro filter_options(query_params, search_label, assessment_statuses, round_details, display_config, tag_option_groups, users) %}

<fieldset class="govuk-fieldset">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full dluhc-column-auto">
            <div class="govuk-form-group govuk-!-display-inline-block">
                <div
                    class="govuk-width-full govuk-!-display-none-print gem-c-search--on-white govuk-!-margin-bottom-0 govuk-!-margin-right-2">
                    <label for="application_search" class="govuk-label govuk-!-margin-right-8">{{ search_label }}</label>
                    <input class="govuk-input" type="text" spellcheck="false" aria-label="{{ search_label }}"
                        id="application_search" name="search_term" , value="{{ query_params['search_term'] }}">
                </div>
            </div>
            {% if g.access_controller.has_any_assessor_role %}
            <div class="govuk-form-group govuk-!-display-inline-block govuk-!-margin-bottom-0 govuk-!-margin-right-2">
                <label class="govuk-label" for="filter_status">
                    Filter by status
                </label>
                <select class="govuk-select govuk-!-width-full" name="status" id="filter_status">
                    {% for item in assessment_statuses %}
                    <option value='{{ item }}' {% if query_params.status==item %} selected="" {% endif %}>{{
                        assessment_statuses[item] }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            {% if users|length > 0 %}
            <div class="govuk-form-group govuk-!-display-inline-block govuk-!-margin-bottom-0 govuk-!-margin-right-2">
                <label class="govuk-label" for="filter_assigned_to">
                    Filter by assigned to
                </label>
                <select class="govuk-select govuk-!-width-one-quarter" id="filter_assigned_to" name="assigned_to">{{ user }}>
                    {% for user in users %}
                        <option value='{{ user }}' {% if query_params.assigned_to==user %} selected="" {% endif %}>{{ user }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="govuk-form-group govuk-!-display-inline-block govuk-!-margin-bottom-0 govuk-!-margin-right-2">
                <label class="govuk-label" for="filter_by_tag">
                    Filter by tag
                </label>
                <select class="govuk-select govuk-!-width-one-quarter" id="filter_by_tag" name="filter_by_tag">
                    <option value="ALL">All</option>
                    {% for option_group in tag_option_groups %}
                    {% if option_group.options %}
                    <optgroup label="{{ option_group.label }}">
                        {% for option in option_group.options %}
                        <option value="{{ option.value }}" {% if query_params.filter_by_tag==option.value %} selected=""
                            {% endif %}>{{ option.text_content }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="govuk-button-group govuk-!-display-inline-block">
                <button class="govuk-button primary-button search-button govuk-!-margin-top-4"
                    type="submit">
                    Search
                </button>
                {% if display_config["show_clear_filters"] %}
                <p>
                    {# djlint:off #}
                    {% set updated_url = request.url.replace(request.query_string.decode(), '') %}
                    <a class="govuk-link govuk-link--no-visited-state" href="{{ updated_url }}?fund_short_name={{ round_details.fund_short_name }}&round_short_name={{ round_details.round_short_name }}&clear_filters=true{{ "#" + display_config["tab_id"] if "tab_id" in display_config else ""}}" aria-label="Clear Filters">
                    Clear search
                    </a>
                    {# djlint:on #}
                </p>
                {% endif %}

            </div>
        </div>
    </div>

</fieldset>

{% endmacro %}
