{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% macro assessment_status(round_status) %}

    {%set display_class %}
        {%if round_status.is_application_not_yet_open or round_status.has_assessment_closed%}
            govuk-tag--grey
        {% endif %}
    {%endset%}
    <div class="govuk-tag govuk-!-margin-bottom-2 govuk-summary-card__title {{display_class}}">
        <strong>
            {% if round_status.is_assessment_active %}
            ASSESSMENT ACTIVE
            {% elif round_status.is_application_open %}
            APPLICATION LIVE
            {% elif round_status.is_application_not_yet_open %}
            APPLICATION NOT YET OPEN
            {% else %}
            ASSESSMENT CLOSED
            {% endif %}
        </strong>
    </div>
{% endmacro %}

{% macro round_links(access_controller, assessments_href, download_available, export_href, feedback_export_href,
assessment_tracker_href, round_status) %}
    {% if round_status.has_assessment_opened %}
        <a class="govuk-link" data-qa="dashboard_summary" href="{{ assessments_href }}">
            View all {% if round_status.is_assessment_active %}active{% else %}closed{% endif %} assessments
        </a>
        </br>
        </br>
    {% endif %}
    {% if access_controller.is_lead_assessor %}
        {% if download_available %}
            {% if export_href  and round_status.has_assessment_opened%}
                <a class="govuk-link" href="{{ export_href }}">
                    Export applicant information
                </a>
                </br>
                </br>
            {% endif %}
            {% if feedback_export_href %}
                <a class="govuk-link" href="{{ feedback_export_href }}">
                    Export feedback survey responses
                </a>
                </br>
                </br>
            {% endif %}
        {% endif %}
        {% if assessment_tracker_href  and round_status.has_application_closed %}
            <a class="govuk-link" href="{{ assessment_tracker_href }}">
                Assessment Tracker Export
            </a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro fund_summary(summary) %}
<div
    class="govuk-!-padding-0 govuk-!-padding-right-2 govuk-!-padding-bottom-3 govuk-!-margin-bottom-6 govuk-grid-column-one-third content-container">

    <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-body govuk_summary-card__title govuk-!-font-size-24">{{summary.round_name}}</h3>
        {% if summary.access_controller.has_any_assessor_role %}
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-link__white_font govuk-!-margin-right-4" data-qa="manage-tags"
                    href="{{ url_for('tagging_bp.load_fund_round_tags', fund_id=summary.fund_id, round_id=summary.round_id) }}">
                    Manage tags
                </a>
            </li>
        </ul>
        {% endif %}
    </div>

    <div class="template-answer--dashboard-container bg-white govuk-!-padding-bottom-5">

        {{assessment_status(summary.status)}}

        <!-- TODO: Temp solution for a quick fix. Perhaps we should have a varibale within the summary? -->
        {% if "Expression of interest" in summary.round_name %}
            {{ govukTable({
                "caption": "",
                "firstCellIsHeader": false,
                "rows": [
                    [{'html': '<strong>Applications received</strong>'},
                    {'text': summary.live_round_stats.submitted if summary.live_round_stats.submitted is not none else
                    'Unavailable'}],
                    ],
                })
            }}

        {% elif summary.status.is_application_open %}
            {{ govukTable({
                "caption": "",
                "firstCellIsHeader": false,
                "rows": [
                    [{'html': '<strong>Application closing date</strong>', 'classes': 'govuk-!-width-one-third'},
                    {'text': summary.live_round_stats.closing_date | datetime_format("%d %B %Y at %H:%M") }],
                    [{'html': '<strong>Applications submitted</strong>'},
                    {'text': summary.live_round_stats.submitted if summary.live_round_stats.submitted is not none else
                    'Unavailable'}],
                    [{'html': '<strong>Applications in progress</strong>'},
                    {'text': summary.live_round_stats.in_progress if summary.live_round_stats.in_progress is not none else
                    'Unavailable'}],
                    [{'html': '<strong>Applications not started</strong>'},
                    {'text': summary.live_round_stats.not_started if summary.live_round_stats.not_started is not none else
                    'Unavailable'}],
                    [{'html': '<strong>Applications completed but not submitted</strong>'},
                    {'text': summary.live_round_stats.completed if summary.live_round_stats.completed is not none else
                    'Unavailable'}],
                    ],
                })
            }}

        {% elif summary.status.has_assessment_opened %}

            {{ govukTable({
                "caption": "",
                "firstCellIsHeader": false,
                "rows": [
                    [{'html': '<strong>Assessment closing date</strong>', 'classes': 'govuk-!-width-one-third'},
                    {'text': summary.assessment_stats.date | datetime_format("%d %B %Y at %H:%M") }],
                    [{'html': '<strong>Applications received</strong>'},
                    {'text': summary.assessment_stats.total_received}],
                    [{'html': '<strong>Assessments completed</strong>'},
                    {'text': summary.assessment_stats.completed}],
                    [{'html': '<strong>Assessments started</strong>'},
                    {'text': summary.assessment_stats.started}],
                    [{'html': '<strong>QA Complete</strong>'},
                    {'text': summary.assessment_stats.qa_complete}],
                    [{'html': '<strong>Stopped assessments</strong>'},
                    {'text': summary.assessment_stats.stopped}],
                    ],
                })
            }}

        {% endif %}
        {% if not summary.status.is_application_not_yet_open %}
            {{ round_links(summary.access_controller, summary.assessments_href,
                summary.round_application_fields_download_available,
                summary.export_href, summary.feedback_export_href, summary.assessment_tracker_href,
                summary.status)
            }}
        {% endif %}


    </div>
</div>
{% endmacro %}
