{% macro tags_table(tags, tagging_purpose_config, expand_tags) %}

    {% if tags %}
        <td class="govuk-table__cell govuk-table__cell">
            <details class="govuk-details dlhuc-tag-expand" data-module="govuk-details">
                <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                {{ "1 tag" if tags|length == 1 else tags|length|string + " tags" }}
                            </span>
                </summary>
                <div>
                    {% for tag in tags %}
                        <div class="govuk-!-margin-top-2">
                            <strong class="govuk-tag govuk-tag--{{ tagging_purpose_config[tag.purpose]["colour"] }} dluhc-tag">
                                {{ tag.value }}
                            </strong>
                        </div>
                    {% endfor %}
                </div>
            </details>
        </td>
    {% else %}
        <td class="govuk-table__cell govuk-table__cell">
            -
        </td>
    {% endif %}

{% endmacro %}

{# This macro is only being used in the activity_trail.html #}
{% macro tags(tag, colour) %}

{% if tag.associated %}
<div class="govuk-!-static-padding-top-5 govuk-!-static-padding-bottom-4">
    <p class="govuk-body"> <span class="govuk-body govuk-!-font-weight-bold">Tag</span> <strong class="govuk-tag govuk-tag--{{ colour }}">{{ tag.value }} </strong> added to assessment</p>
    <p class="govuk-body">Added by <span class="govuk-body govuk-!-font-weight-bold">{{ tag.full_name }}</span> ({{ tag.email_address }}) on {{ tag.date_created|utc_to_bst }}
    </p>
</div>

{% else %}
<div class="govuk-!-static-padding-top-5 govuk-!-static-padding-bottom-4">
    <p class="govuk-body"> <span class="govuk-body govuk-!-font-weight-bold">Tag</span> <strong class="govuk-tag govuk-tag--{{ colour }}">{{ tag.value }} </strong> removed from assessment</p>
    <p class="govuk-body">Removed by <span class="govuk-body govuk-!-font-weight-bold">{{ tag.full_name }}</span> ({{ tag.email_address }}) on {{ tag.date_created|utc_to_bst }}
    </p>
</div>
{% endif %}

{% endmacro %}
