{% extends "base.html" %}

{% block pageTitle %}Access Denied – {{ service_title }}{% endblock pageTitle %}

{% block content %}
    {# djlint:off #}</div>{# djlint:on #}
    <div class="fsd-login-banner-background">
    </div>
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Access Denied</h1>
                <p class="govuk-body">You do not have permission to access this page.</p>
                <a href="{{ url_for('shared_bp.get_help') }}"
                   class="govuk-link govuk-link--no-underline govuk-!-margin-right-5">
                    Get help
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
