{% extends 'govuk_frontend_jinja/template.html' %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block pageTitle %}{{[pageHeading.rstrip('\n'), service_title]|join(' - ') if pageHeading else service_title}}{% endblock %}

{% block head %}
  {% include 'head.html' %}
{% endblock %}

{% block header %}
  {{ govukHeader({}) }}
{% endblock %}

{% block main %}
<div class="govuk-width-container {{ containerClasses }}">
  {% block beforeContent %}{% endblock %}
  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block content %}{% endblock %}
  </main>
</div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
  <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='govuk-frontend/govuk-frontend-4.0.0.min.js') }}"> </script>
  <script nonce="{{ csp_nonce() }}">

    window.addEventListener('load', (event) => {

        window.GOVUKFrontend.initAll();
    });
  </script>
  <!--<![endif]-->
{% endblock %}
