{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% block content %}
    <div class="govuk-phase-banner flex-parent-element">
        <p></p>
    </div>
    </div>
  <div class="govuk-width-container">
      <h1 class="govuk-heading-xl">Assessment Hub</h1>

      {% if g.is_autheticated %}
        <p class="govuk-body">
            Welcome to the assessment service.
            <br /><br />Please sign in to continue.
        </p>

        {{ govukButton({
        "isStartButton": false,
        "href" : login_url,
        "text": "Sign in"
        }) }}
      {% else %}
        {{ govukButton({
        "isStartButton": false,
        "href" : assessment_url,
        "text": "Continue"
        }) }}
        <p class="govuk-body">
            Or, <a href="{{ logout_url }}" class="govuk-link">log out</a>.
        </p>
      {% endif %}
  </div>
{% endblock %}
