{% extends "base.html" %}

{% block pageTitle %}Sorry, the service is unavailable – {{ service_title }}{% endblock pageTitle %}

{% block content %}
    {# djlint:off #}</div>{# djlint:on #}
    <div class="fsd-login-banner-background">
    </div>

    <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
          <p class="govuk-body">We are carrying out essential maintenance to the funding assessment tool.</p>
          <p class="govuk-body">You will be able to use the service again on 18&nbsp;December&nbsp;2023 at 03:00pm.</p>
          <p class="govuk-body">
            <a class="govuk-link" href="mailto:fsd.support@levellingup.gov.uk">Contact the Funding Service Design team</a> if you need urgent support during this time.
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock content %}
