{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "macros/sortable_table_header.html" import sortable_table_header %}

{% macro render(application_overviews, round_details, query_params, funding_types, assessment_statuses, show_clear_filters, user_role, sort_column, sort_order) -%}
<nav class="search-bar-flex-container">
  <form method="get">
    <div class="govuk-form-group govuk-!-display-inline-block govuk-!-padding-right-2">
      <div>
            <label class="govuk-label" for="application_search">
              Search reference or organisation name
            </label>
            <input class="govuk-input govuk-input--width-20" type="text" spellcheck="false" aria-label="Search reference or project name" id="application_search" name="search_term", value="{{ query_params['search_term'] }}">
      </div>
    </div>
    <div class="govuk-form-group govuk-!-display-inline-block govuk-!-padding-right-2">
      <label class="govuk-label" for="filter_funding_type">
      Filter by funding type
      </label>
      <select class="govuk-select" id="filter_funding_type" name="funding_type">

            {% for item in funding_types %}
                  <option value='{{ item }}' {% if query_params.funding_type == item %} selected=""{% endif %}>{{ funding_types[item] }}</option>
            {% endfor %}
      </select>
    </div>
    {% if user_role != "COMMENTER" %}
      <div class="govuk-form-group govuk-!-display-inline-block govuk-!-padding-right-2">
        <label class="govuk-label" for="filter_status">
        Filter by status
        </label>
        <select class="govuk-select" name="status" id="filter_status">
              {% for item in assessment_statuses %}
                    <option value='{{ item }}' {% if query_params.status == item %} selected=""{% endif %}>{{ assessment_statuses[item] }}</option>
              {% endfor %}
        </select>
      </div>
    {% endif %}
    <div class="govuk-form-group govuk-!-display-inline-block govuk-!-padding-right-2">
      <button class="govuk-button search-button" aria-label="Search" type="submit">Search</button>
    </div>
  </form>
  {% if show_clear_filters %}
  <p>
    <a class="govuk-link govuk-link--no-visited-state"
      href="{{ url_for(
          'assess_bp.fund_dashboard', fund_short_name=round_details.fund_short_name,
          round_short_name=round_details.round_short_name,
          clear_filters=true
      ) }}"
      aria-label="Clear Filters">Clear Filters</a>
  </p>
  {% endif %}
</nav>

{% if not application_overviews %}
<div role="status" aria-live="assertive">
  <p class="govuk-body" autofocus>
    <strong>No matching results.</strong>
  </p>
  <p class="govuk-body">Improve your results by:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>removing filters</li>
    <li>double-checking your spelling</li>
  </ul>
</div>
{% else %}
<table class="govuk-table" id="application_overviews_table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
          Reference
      </th>

      {{ sortable_table_header('organisation_name', 'Organisation name', sort_order, sort_column, round_details, query_params) }}

      {{ sortable_table_header('local_authority', 'Local authority name', sort_order, sort_column, round_details, query_params) }}

      {{ sortable_table_header('funding_type', 'Funding type', sort_order, sort_column, round_details, query_params) }}

      {{ sortable_table_header('funding_requested', 'Funding requested', sort_order, sort_column, round_details, query_params) }}

      {% if user_role != "COMMENTER" %}
        {{ sortable_table_header('status', 'Status', sort_order, sort_column, round_details, query_params) }}
      {% endif %}

    </tr>
  </thead>
  <tbody class="govuk-table__body">
        {% for overview in application_overviews %}
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">{{ overview.short_id[-6:] }}</td>
                <td class="govuk-table__cell"><a class="govuk-link" data-qa="organisation_name" href="{{ url_for('assess_bp.application',application_id=overview.application_id) }}">{{ overview.organisation_name }}</a></td>
                <td class="govuk-table__cell">{{ overview.local_authority }}</td>
                <td class="govuk-table__cell">{{ funding_types[overview.funding_type] }}</td>
                <td class="govuk-table__cell">£{{ "{:,.2f}".format(overview.funding_amount_requested|int|round) }}</td>

                {% if user_role != "COMMENTER" %}
                <td class="govuk-table__cell">
                {% if overview.application_status == "QA_COMPLETED" %}
                <span>{{ assessment_statuses[overview.application_status] }}</span>
                {% elif overview.application_status == "STOPPED" %}
                <span class="stopped-tag">
                  {{ assessment_statuses[overview.application_status] }}
                </span>
                {% elif overview.application_status == "FLAGGED" %}
                <span class="flagged-tag">
                  {{ assessment_statuses[overview.application_status] }}
                </span>
                {% elif overview.application_status == "NOT_STARTED" %}
                <span class="not-started-tag">
                  {{ assessment_statuses[overview.application_status] }}
                </span>
                {% elif overview.application_status == "COMPLETED" %}
                <span>
                  {{ assessment_statuses[overview.application_status] }}
                </span>
                {% elif overview.application_status == "MULTIPLE_FLAGS" %}
                <span class="flagged-tag">
                  {{ assessment_statuses[overview.application_status] }}
                </span>
                {% else %}
                <span>
                  {{ assessment_statuses[overview.application_status] }}
                  {{ '(' + overview.progress|string + '%)' if 'progress' in overview else '(0%)' }}
                </span>
                {% endif %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
  </tbody>
</table>
{% endif %}
{%- endmacro %}
