{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}


{% macro render(application_overviews, query) -%}

<div data-module="fsd-filtered-fetch-table" data-endpoint="{{ application_search_endpoint }}"></div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <form method="get" class="fsd-table-search-form" data-search-key="id_contains">
      <div class="govuk-form-group fsd-assess-search-input">
        <label class="govuk-label" for="event-name">Search</label>
        <div class="govuk-input__wrapper">
                   
          <input class="govuk-input govuk-input--width-10" type="text" spellcheck="false" aria-label="Search applications" id="application_search" name="id_contains" placeholder="Search for names..", value="{{query.id_contains}}">
        </div>
      </div>
    </form>
  </div>

</div>

<table class="govuk-table" data-module="sortable-table", id="application_overviews_table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">
          Ref
      </th>


      <th scope="col" class="govuk-table__header">
            Project name
      </th>


      <th scope="col" class="govuk-table__header">
        Asset type
      </th>


      <th scope="col" class="govuk-table__header">
        Total funding requested
      </th>


      <th scope="col" class="govuk-table__header">
        Status
      </th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
    {% if application_overviews %}
        {% for overview in application_overviews %}
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">{{overview.application_short_id}}</a></td>

                <td class="govuk-table__cell"><a class="govuk-link" href="{{url_for('assess_bp.application',application_id=overview.application_id)}}">{{overview.project_name}}</a></td>
                <td class="govuk-table__cell">{{overview.type_of_application}}</td>
                <td class="govuk-table__cell">{{ "£%.2f"|format(overview.funding_amount_requested | int) }}</td>
                {% if overview.workflow_status ==  "NOT STARTED" %}
                  <td class="govuk-table__cell"><span class="not-started-tag">{{overview.workflow_status | all_caps_to_human}}</span></td>
                {% else %}
                  <td class="govuk-table__cell">{{overview.workflow_status | all_caps_to_human}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
            <tr class="govuk-table__row">

              <td class="govuk-table__cell" colspan="3">No applications found</td>

            </tr>
    {% endif %}
  </tbody>
</table>

<script src="{{url_for('static', filename='js/search-filter.js')}}" ></script>


{%- endmacro %}
