{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}


{% macro render(application_overviews) -%}
<!--
<div data-module="fsd-filtered-fetch-table" data-endpoint="{{ application_search_endpoint }}"></div> -->
<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">
          Ref
      </th>


      <th scope="col" class="govuk-table__header">
            Project name
      </th>


      <th scope="col" class="govuk-table__header">
        Asset type
      </th>


      <th scope="col" class="govuk-table__header">
        Total funding requested
      </th>


      <th scope="col" class="govuk-table__header">
        Status
      </th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
    {% if application_overviews %}
        {% for overview in application_overviews %}
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">{{overview.application_short_id}}</a></td>

                <td class="govuk-table__cell"><a class="govuk-link" href="{{url_for('assess_bp.application',application_id=overview.application_id)}}">{{overview.project_name}}</a></td>
                <td class="govuk-table__cell">{{overview.type_of_application}}</td>
                <td class="govuk-table__cell">{{ "£%.2f"|format(overview.funding_amount_requested | int) }}</td>
                {% if overview.workflow_status ==  "NOT STARTED" %}
                  <td class="govuk-table__cell"><span class="not-started-tag">{{overview.workflow_status | all_caps_to_human}}</span></td>
                {% else %}
                  <td class="govuk-table__cell">{{overview.workflow_status | all_caps_to_human}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
            <tr class="govuk-table__row">

              <td class="govuk-table__cell" colspan="3">No applications found</td>

            </tr>
    {% endif %}
  </tbody>
</table>



<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Months and rates</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Month you apply</th>
      <th scope="col" class="govuk-table__header">Rate for vehicles</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">January</th>
      <td class="govuk-table__cell">£95</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">February</th>
      <td class="govuk-table__cell">£55</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">March</th>
      <td class="govuk-table__cell">£125</td>
    </tr>
  </tbody>
</table>
<table class="govuk-table" data-module="moj-sortable-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Elevation</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Continent</th>

      <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">First summit</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Aconcagua</td>

      <td class="govuk-table__cell" data-sort-value="6961">6,961 meters</td>

      <td class="govuk-table__cell">South America</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">1897</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Denali</td>

      <td class="govuk-table__cell" data-sort-value="6194">6,194 meters</td>

      <td class="govuk-table__cell">North America</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1913">1913</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Elbrus</td>

      <td class="govuk-table__cell" data-sort-value="5642">5,642 meters</td>

      <td class="govuk-table__cell">Europe</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1874">1874</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Everest</td>

      <td class="govuk-table__cell" data-sort-value="8850">8,850 meters</td>

      <td class="govuk-table__cell">Asia</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1953">1953</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Kilimanjaro</td>

      <td class="govuk-table__cell" data-sort-value="5895">5,895 meters</td>

      <td class="govuk-table__cell">Africa</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1889">1889</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Puncak Jaya</td>

      <td class="govuk-table__cell" data-sort-value="4884">4,884 meters</td>

      <td class="govuk-table__cell">Australia</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1962">1962</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">Vinson</td>

      <td class="govuk-table__cell" data-sort-value="4897">4,897 meters</td>

      <td class="govuk-table__cell">Antarctica</td>

      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1966">1966</td>

    </tr>

  </tbody>
</table>

<script
  src="{{ url_for('static', filename='javascript/jquery-3.6.0.min.js') }}"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
  nonce="{{ csp_nonce() }}"
></script>
<script nonce="{{ csp_nonce() }}"  src="{{ url_for('static', filename='javascript/moj-frontend.min.js') }}"></script>
<script nonce="{{ csp_nonce() }}" hash="sha256-bhyBXL9pVXmONqYU0zC4tGLHyo1DT/oTdferhgC1Gtk=">
  window.MOJFrontend.initAll();
</script>

{%- endmacro %}
