{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}


{% macro render(application_overviews, query_params, asset_types, assessment_statuses) -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="get">
      <div class="govuk-form-group govuk-!-display-inline-block govuk-!-padding-right-2">
            <div>
                  <label class="govuk-label" for="event-name">
                    Search reference or project name
                  </label>
                  <input class="govuk-input govuk-input--width-20" type="text" s, assessment_statusespellcheck="false" aria-label="Search applications" id="application_search" name="search_term" placeholder="Search..", value="{{query_params['search_term']}}">
            </div>
      </div>
      <div class="govuk-form-group govuk-!-display-inline-block" govuk-!-padding-right-2">
            <label class="govuk-label" for="sort">
            Filter by asset type
            </label>
            <select class="govuk-select" name="asset_type">

                  {% for item in asset_types %}
                        <option value='{{ item }}' {% if query_params.asset_type == item %} selected=""{%endif%}>{{asset_types[item]}}</option>
                  {% endfor %}

            </select>
      </div>

      <div class="govuk-form-group govuk-!-display-inline-block govuk-!-padding-right-2">
            <label class="govuk-label" for="sort">
            Filter by status
            </label>
            <select class="govuk-select" name="status">
                  {% for item in assessment_statuses %}
                        <option value='{{ item }}' {% if query_params.status == item %} selected=""{%endif%}>{{assessment_statuses[item]}}</option>
                  {% endfor %}
            </select>
            <button class="govuk-button search-button" type="submit">Search</button>
      </div>
    </form>
  </div>

</div>

<table class="govuk-table" id="application_overviews_table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">
          Ref
      </th>


      <th scope="col" class="govuk-table__header">
            Project name
      </th>


      <th scope="col" class="govuk-table__header">
        Asset type
      </th>


      <th scope="col" class="govuk-table__header">
        Total funding requested
      </th>


      <th scope="col" class="govuk-table__header">
        Status
      </th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
    {% if application_overviews %}
        {% for overview in application_overviews %}
            <tr class="govuk-table__row">

                <td class="govuk-table__cell">{{overview.application_short_id[-6:]}}</a></td>

                <td class="govuk-table__cell"><a class="govuk-link" href="{{url_for('assess_bp.application',application_id=overview.application_id)}}">{{overview.project_name}}</a></td>
                <td class="govuk-table__cell">{{asset_types[overview.type_of_application]}}</td>
                <td class="govuk-table__cell">{{ "£%.2f"|format(overview.funding_amount_requested | int) }}</td>
                {% if overview.workflow_status ==  "NOT STARTED" %}
                  <td class="govuk-table__cell"><span class="not-started-tag">{{assessment_statuses[overview.workflow_status]}}</span></td>
                {% else %}
                  <td class="govuk-table__cell">{{assessment_statuses[overview.workflow_status]}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
            <tr class="govuk-table__row">

              <td class="govuk-table__cell" colspan="3">No applications found</td>

            </tr>
    {% endif %}
  </tbody>
</table>
{%- endmacro %}
